{% extends "base.html" %}
{% block title %}Charts{% endblock %}

{% block content %}

    <h1>Charts</h1>

    <hr>

    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="pills-bargraph-tab" data-toggle="pill" href="#pills-bargraph"
               role="tab"
               aria-controls="pills-bargraph" aria-selected="false">Bar Graphs</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="pills-linegraph-tab" data-toggle="pill" href="#pills-linegraph"
               role="tab"
               aria-controls="pills-linegraph" aria-selected="false">Line Graphs</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="pills-piechart-tab" data-toggle="pill" href="#pills-piechart"
               role="tab"
               aria-controls="pills-piechart" aria-selected="false">Pie Charts</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="pills-histogram-tab" data-toggle="pill" href="#pills-histogram"
               role="tab"
               aria-controls="pills-histogram" aria-selected="false">Histograms</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="pills-scatterplot-tab" data-toggle="pill" href="#pills-scatterplot"
               role="tab"
               aria-controls="pills-scatterplot" aria-selected="false">Scatter Plots</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="pills-boxplot-tab" data-toggle="pill" href="#pills-boxplot"
               role="tab"
               aria-controls="pills-boxplot" aria-selected="false">Box Plots</a>
        </li>
    </ul>

    <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-bargraph" role="tabpanel"
             aria-labelledby="pills-bargraph-tab">
            <h2>Bar Graphs</h2>

            <hr>

            <p><img src="/templates/resources/barchart.png" alt="bar graph" align="right"><small>[1]</small>A bar graph is a visualization used to represent data via bars of different heights, which can be plotted either
                horizontally or vertically. Bar graphs are used to compare things between different groups or to track
                changes over time. However, when trying to measure change over time, bar graphs are best when the
                changes are larger.</p>

            <p>Bar graphs are used to provide a visual representation of categorical data, which is data that is grouped
                by alike characteristics, such as days of the week, months of the year, etc.</p>

            <p>In addition to standard bar graphs, there are also two other types of bar graphs: grouped bar graphs and stacked bar graphs.</p>

            <p><img src="/templates/resources/grouped-bar-chart.svg" alt="grouped bar chart" align="left"><small>[2]</small>Grouped bar graphs are bar graphs that compared multiple sets of data items. It is generally best to associate
                each sub item in the group with a color to keep consistency and make the chart more easily readable.</p>

            <p><img src="/templates/resources/stacked-bar-chart.jpg" alt="stacked bar chart" align="right"><small>[3]</small>Stacked bar graphs are used to breakdown parts of a whole. Each bar in the chart represents a whole, and
                segments in the bar represent different parts or categories of that whole. Different colors are used to
                illustrate the different categories in the bar.</p>

            <small>Sources:<br/>
            [1] Image from: <a target="_blank" href="https://commons.wikimedia.org/wiki/File:Blue_bar_graph.png">Wikipedia Commons</a>
             <br/>[2] Image from: <a target="_blank" href="https://commons.wikimedia.org/wiki/File:Charts_SVG_Example_6_-_Grouped_Bar_Chart.svg">Wikipedia Commons</a>
             <br/>[3] Image from: <a target="_blank" href="https://commons.wikimedia.org/wiki/File:Example_of_a_Stacked_Bar_Plot_in_Healthcare_Data_Analysis_using_R_Software.jpg">Wikipedia Commons</a>
             <br/>Source: <a target="_blank" href="https://en.wikipedia.org/wiki/Bar_chart">Wikipedia - Bar chart</a>
            </small>

        </div>
        <div class="tab-pane fade" id="pills-linegraph" role="tabpanel" aria-labelledby="pills-linegraph-tab">
            <h2>Line Graphs</h2>

            <hr>

            <table>
                <tbody>
                <tr>
                    <td>
                        <img src="/templates/resources/multiple-line-graph.png" alt="multiple line graph">
                    </td>
                    <td style="vertical-align: top">
                        <p>"A line graph is a type of visualization which displays information as a series of data points called 'markers'
                            connected by straight line segments." <small>[3]</small> Unlike scatter plots, measurement points are ordered and connected
                            together.</p>
                    </td>
                </tr>
                </tbody>
            </table>

            <img src="/templates/resources/Line-graph.png" alt="line graph" align="right"> <small>[2]</small>
            <p>Line graphs are visualizations used to track changes over short and long periods of time. When smaller
                changes exist, line graphs are better to use than bar graphs. Line graphs can also be used to compare
                changes over the same period of time for more than one group.</p>

            <p>Line graphs can track either one dataset or multiple sets related to an independent variable and are useful
                for comparisons.</p>

                        <br/><small>Sources:<br/>[1] Image Source: <a target="_blank" href="https://commons.wikimedia.org/wiki/File:Line_graph.png">Wikipedia Commons</a></small>
            <br/><small>[2] Image Source: <a target="_blank" href="https://commons.wikimedia.org/wiki/File:Line_graph_of_iNaturalist_activity.png">Wikipedia Commons</a></small>
            <br/><small>[2] Image Source: <a target="_blank" href="https://en.wikipedia.org/wiki/Line_chart#cite_note-2">Wikipedia - Line chart</a></small>


        </div>
        <div class="tab-pane fade" id="pills-piechart" role="tabpanel" aria-labelledby="pills-piechart-tab">
            <h2>Pie Charts</h2>

            <hr>

            <table>
                <tbody>
                <tr>
                    <td>
                        <img src="/templates/resources/pie-chart.png" alt="pie chart of favourite pie flavours">
                    </td>
                    <td style="vertical-align: top">
                        <p>A pie chart is a circular graph that chunks the data into "pie slices", which are proportionally accurate
                            percentage-wise to the quantity it represents. It is a way of summarizing a set of nominal data or displaying
                            the different values of a given variable (e.g. percentage distribution).</p>

                        <p>Pie charts are best used for displaying categorical data and to display how something is composed. On the other hand,
                            they don't work very well for comparing groups to each other.</p>

                        <p>When constructing a pie chart, best practice is order data items from largest to smallest, with the smallest
                            item finishing off the chart.</p>
                    </td>
                </tr>
                </tbody>
            </table>

            <small>Sources:<br/>
            [1] Image from: <a target="_blank" href="https://commons.wikimedia.org/wiki/File:Population_of_Provinces_and_Territories_of_Canada_Pie_Chart.png">Wikipedia Commons</a>
             <br/>[3] Source: <a target="_blank" href="https://chartio.com/learn/charts/pie-chart-complete-guide/">Chartio - A Complete Guide to Pie Charts</a>
            </small>

        </div>
        <div class="tab-pane fade" id="pills-histogram" role="tabpanel" aria-labelledby="pills-histogram-tab" >
            <h2>Histograms</h2>

            <hr>

            <img src="/templates/resources/614px-Histogram_of_arrivals_per_minute.png" alt="histogram of arrivals per minute"
                 align="left"><small>[1]</small>

            <p>"A histogram is a chart that plots the distribution of a numeric variable’s values as a series of bars.
                Each bar typically covers a range of numeric values called a bin or class; a bar’s height indicates the
                frequency of data points with a value within the corresponding bin."<small>[3]</small></p>

            <img src="/templates/resources/Fa_history_histogram.png"
                 alt="histogram with a line of best fit"
                 align="right" min-width="50%" height="50%"><small>[2]</small>
            <p>While they may look similar to bar charts, Histograms are used to show distributions of variables while
                bar charts are used to compare variables. Histograms plot quantitative data with ranges of the data
                grouped into bins or intervals while bar charts plot categorical data.</p>

            <p>Histograms are used to summarize discrete or continuous data that are measured on an interval scale.</p>

            <p>An advantage of histograms is for showing general distributional features of dataset variables. You can see roughly
                where the peaks of the distribution are, whether the distribution is skewed or symmetric, and if there
                are any outliers.<small>[3]</small></p>

            <p>An important aspect of histograms is that they must be plotted with a zero-valued baseline. Since the
                frequency of data in each bin is implied by the height of each bar, changing the baseline or introducing
                a gap in the scale will skew the perception of the distribution of data.</p>

            <br/><small>Sources:<br/>[1] Image Source: <a target="_blank" href="https://commons.wikimedia.org/wiki/File:Histogram_of_arrivals_per_minute.svg">Wikipedia Commons</a></small>
            <br/><small>[2] Image Source: <a target="_blank" href="https://commons.wikimedia.org/wiki/File:Fa_history_histogram.png">Wikipedia Commons</a></small>
            <br/><small>[3] Source: <a target="_blank" href="https://chartio.com/learn/charts/histogram-complete-guide/">Chartio - A Complete Guide to Histograms</a></small>
        </div>
        <div class="tab-pane fade" id="pills-scatterplot" role="tabpanel" aria-labelledby="pills-scatterplot-tab">
            <h2>Scatter Plots</h2>

            <hr>

            <img src="/templates/resources/scatterplot.png" alt="scatterplot" align="right"><small>[1]</small></p>

            <p>Also known as a scatter charts or a scatter graph, scatter plot is a visualization that utilizes dots to
                depict values for two different numeric variables. Each dot has an x (plotted horizontally) and a y value (plotted vertically)
                that together make up a single point of data. These charts are particularly useful in recognizing
                correlations between two variables in a set.</p>

            <p>"A scatter plot's primary use is to observe and show relationships between two numeric variables. The dots
                in a scatter plot not only report the values of individual data points, but also patterns when the data are taken as
                a whole."<small>[2]</small></p>

            <img src="/templates/resources/scatterplot.gif" alt="scatterplot with a line of best fit"><small>[3]</small>
            <p>A common best practice with scatter plots is to make use of a trend line or line of best fit when looking at predictive or
                correlational relationship between variables. A trend line is particularly useful to the plot displaying how the
                the variables are similar, even in value; this gives a visual indication of how closely related the correlation between
                the two variables is. They also highlight outlier data a lot more easily as they generally fall
                further away from the range of the line of best fit.</p>

            <small>Sources: <br>[1] Image from: <a target="_blank" href="https://seaborn.pydata.org/generated/seaborn.scatterplot.html">Seaborn.scatterplot</a>
                <br>[2] <a target="_blank" href="https://chartio.com/learn/charts/what-is-a-scatter-plot/">Chartio - A Complete Guide to Scatter Plots</a>
                <br>[3] Image from: <a target="_blank" href="http://www.math.utep.edu/Faculty/yi/CPS5195f09/victor.pdf">Flexible smoothing with B-splines and Penalties or P-splines</a>
            </small>

        </div>
        <div class="tab-pane fade" id="pills-boxplot" role="tabpanel" aria-labelledby="pills-boxplot-tab">
            <h2>Box Plots</h2>

            <hr>

            <img src="/templates/resources/boxplot.svg" alt="box plot" align="left"><small>[1]</small>

            <p>"A box plot or boxplot (also known as box and whisker plot) is a type of chart
                often used in explanatory data analysis. Box plots visually show the distribution of numerical data and
                skewness through displaying the data quartiles (or percentiles) and averages." <small>[2]</small></small></p>

            <p>A box plot is ideal for comparing distributions because the centre, spread and overall range are immediately
                apparent. They also have the advantage of taking up less space, which is useful when comparing distributions
                between many groups or datasets.</p>

            <p>Box plots are used to help visualize the distribution of quantitative values in a field. They are also
                valuable for comparisons across different categorical variables or identifying outliers, if either of
                those exist in a dataset. Its ideal use is for comparing distributions because the centre, spread and
                overall range are immediately apparent.<small>[2]</small></p>

            <small>Sources:<br/>[1] Image from: <a target="_blank" href="https://commons.wikimedia.org/wiki/File:Boxplot_of_Average_Article_Feedback_ratings_by_project_rated_quality.svg">Wikipedia Commons</a><br/>
                                [2] <a target="_blank" href="https://www.simplypsychology.org/boxplots.html">Simply Psychology - Box Plot</a>
            </small>

        </div>
    </div>


{% endblock %}