{% extends "base.html" %}
{% block title %}Cost Analysis{% endblock%}
{% block content %}

    <h1>Cost Analysis</h1>

    <hr/>


<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="pills-pycharm-tab" data-toggle="pill" href="#pills-pycharm" role="tab"
           aria-controls="pills-pycharm" aria-selected="false">Cost Analysis</a>
    </li>
</ul>

<div class="tab-pane fade show active" id="pills-pycharm" role="tabpanel" aria-labelledby="pills-pycharm-tab">
    <hr/>

    <div class="accordion" id="accordionGuide">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                            aria-expanded="true" aria-controls="collapseOne">
                        WHAT IS A COST-BENEFIT ANALYSIS?
                    </button>
                </h5>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionGuide">
                <div class="card-body">
                    <div class="description">

                        <p> A cost-benefit analysis is the process of comparing the projected or estimated costs and benefits (or opportunities) associated with a project decision to determine whether it makes sense from a business perspective.</p><br>
                        <p> Generally speaking, cost-benefit analysis involves tallying up all costs of a project or decision
                            and subtracting that amount from the total projected benefits of the project or decision. (Sometimes, this value is represented as a ratio.)</p><br>
                        <p> If the projected benefits outweigh the costs, you could argue that the decision is a good one to make. If, on the other hand, the costs outweigh the benefits,
                            then a company may want to rethink the decision or project.</p><br>
                        <p> Cost-benefit analysis is a form of data-driven decision-making most often utilized in business, both at established companies and startups. The basic principles and framework can be applied to virtually
                            any decision-making process, whether business-related or otherwise.</p><br>
                    </div>
                </div>
            </div>
        </div>



        <div class="card">
            <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseTwo"
                            aria-expanded="true" aria-controls="collapseTwo">
                        HOW TO CONDUCT A COST-BENEFIT ANALYSIS
                    </button>
                </h5>
            </div>

            <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionGuide">
                <div class="card-body">
                    <div class="description">
                        <p> <strong>1. Establish a Framework for Your Analysis</strong></p><br>
                        <p> For your analysis to be as accurate as possible, you must first establish the framework within which you’re conducting it. What, exactly, this framework looks like will depend on the specifics of your organization.</p><br>
                        <p> Identify the goals and objectives you’re trying to address with the proposal. What do you need to accomplish to consider the endeavor a success? This can help you identify and understand your costs and benefits, and will be critical in interpreting the results of your analysis.</p><br>
                        <p> Similarly, decide what metric you’ll be using to measure and compare the benefits and costs. To accurately compare the two, both your costs and benefits should be measured in the same “common currency.” This doesn’t need to be an actual currency, but it does frequently involve assigning a dollar amount to each potential cost and benefit.</p><br>
                        <p> <strong>2. Identify Your Costs and Benefits</strong></p><br>
                        <p> Your next step is to sit down and compile two separate lists: One of all of the projected costs, and the other of the expected benefits of the proposed project or action.</p><br>
                        <p> When tallying costs, you’ll likely begin with direct costs, which include expenses directly related to the production or development of a product or service (or the implementation of a project or business decision). Labor costs, manufacturing costs, materials costs, and inventory costs are all examples of direct costs.</p><br>
                        <p> But it’s also important to go beyond the obvious. Other cost categories you must account for include:</p><br>
                        <li> <strong>Indirect Costs: </strong>These are typically fixed expenses, such as utilities and rent, that contribute to the overhead of conducting business.</li><br>
                        <li> <strong>Intangible Costs: </strong>These are any costs that are difficult to measure and quantify. Examples may include decreases in productivity levels while a new business process is rolled out, or reduced customer satisfaction after a change in customer service processes that leads to fewer repeat buys.</li><br>
                        <li> <strong>Opportunity Costs: </strong>This refers to lost benefits, or opportunities, that arise when a business pursues one product or strategy over another.</li><br>
                        <p> Similarly, benefits can be:</p><br>
                        <li> <strong>Direct: </strong>For example, increased revenue and sales generated from a new product</li><br>
                        <li> <strong>Indirect: </strong>Such as increased customer interest in your business or brand</li><br>
                        <li> <strong>Intangible: </strong>For example, improved employee morale</li><br>
                        <li> <strong>Competitive: </strong>For example, being a first-mover within an industry or vertical</li><br>
                        <p> <strong>3. Assign a Dollar Amount or Value to Each Cost and Benefit</strong></p><br>
                        <p> Once you’ve compiled exhaustive lists of all costs and benefits, you must assign a dollar amount to each one. If you don’t give all the costs and benefits a value, then it will be difficult to compare them accurately.</p><br>
                        <p> Direct costs and benefits will be the easiest to assign a dollar amount to. Indirect and intangible costs and benefits, on the other hand, can be challenging to quantify. That does not mean you shouldn’t try, though; there are many software options and methodologies available for assigning these less-than-obvious values.</p><br>
                        <p> <strong>4. Tally the Total Value of Benefits and Costs and Compare</strong></p><br>
                        <p> Once every cost and benefit has a dollar amount next to it, you can tally up each list and compare the two.</p><br>
                        <p> If total benefits outnumber total costs, then there is a business case for you to proceed with the project or decision. If total costs outnumber total benefits, then you may want to reconsider the proposal.</p><br>
                        <p> Beyond simply looking at how the total costs and benefits compare, you should also return to the framework established in step one. Does the analysis show you reaching the goals you’ve identified as markers for success, or does it show you falling short?</p><br>
                        <p> If the costs outweigh the benefits, ask yourself if there are alternatives to the proposal you haven’t considered. Additionally, you may be able to identify cost reductions that will allow you to reach your goals more affordably while still being effective.</p><br>

                    </div>
                </div>
            </div>
        </div>


        <div class="card">
                <div class="card-header" id="headingThree">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            PROS AND CONS OF COST-BENEFIT ANALYSIS
                        </button>
                    </h5>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="guide">

                            <p> There are many positive reasons a business or organization might choose to leverage cost-benefit analysis as a part of their decision-making process. There are also several potential disadvantages and limitations that should be considered before relying entirely on a cost-benefit analysis.
                                Advantages of Cost-Benefit Analysis</p><br>
                            <p> Advantages of Cost-Benefit Analysis</p><br>
                            <li> <strong>It is data-driven: </strong>Cost-benefit analysis allows an individual or organization to evaluate a decision or potential project free of opinions or personal biases. As such, it offers an agnostic and evidence-based evaluation of your options, which can help your business become more data-driven and logical in how it operates.</li><br>
                            <li> <strong>It makes decisions simpler: </strong>Business decisions are often complex by nature. By reducing a decision to costs versus benefits, the cost-benefit analysis can make them less complex.</li><br>
                            <li> <strong>It can uncover hidden costs and benefits: </strong>Cost-benefit analysis forces you to sit down and outline every potential cost and benefit associated with a project, which can help you uncover less-than-obvious factors, such as indirect or intangible costs.</li><br>
                            <p> Limitations of Cost-Benefit Analysis</p><br>
                            <li> <strong>It’s difficult to predict all variables: </strong>While cost-benefit analysis can help you outline the projected costs and benefits associated with a business decision, it’s challenging to predict all the factors that may impact the outcome. Changes in market demand, materials costs, and global business environment can occasionally be fickle and unpredictable, especially in the long term.</li><br>
                            <li> <strong>It’s only as good as the data used to complete it: </strong>If you’re relying on incomplete or inaccurate data to finish your cost-benefit analysis, the results of the analysis will be similarly inaccurate or incomplete.</li><br>
                            <li> <strong>It’s better suited to short- and mid-length projects:</strong>For projects or business decisions that involve longer timeframes, cost-benefit analysis has greater potential of missing the mark, for several reasons. It typically becomes more difficult to make accurate predictions the further out you go. It’s also possible that long-term forecasts will not accurately account for variables such as inflation, which could impact the overall accuracy of the analysis.</li><br>
                            <li> <strong>It removes the human element: </strong>While a desire to make a profit drives most companies, there are other, non-monetary reasons an organization might decide to pursue a project or decision. In these cases, it can be difficult to reconcile moral or “human” perspectives with the business case.</li><br>
                            <p> In the end, cost-benefit analysis should not be the only tool or strategy that you use in determining how to move your business into the future. It is but a single option at your disposal.</p><br>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}