{% extends "base.html" %}
{% block title %}Customer{% endblock%}

{% block content %}

    <h1>Customer</h1>

    <hr/>

<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="pills-pycharm-tab" data-toggle="pill" href="#pills-pycharm" role="tab"
           aria-controls="pills-pycharm" aria-selected="false">Customer</a>
    </li>
</ul>


<div class="tab-pane fade show active" id="pills-pycharm" role="tabpanel" aria-labelledby="pills-pycharm-tab">
    <hr/>

    <div class="accordion" id="accordionGuide">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                            aria-expanded="true" aria-controls="collapseOne">
                        Description
                    </button>
                </h5>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionGuide">
                <div class="card-body">
                    <div class="description">

                        <p> You don't communicate the same way with the different groups of people in your life – family, friends, colleagues.
                            Nor do you buy them the same type of gifts.
                            The same applies to your customers. <br></p>
                        <p> Your customers have unique needs, wants, likes and dislikes. Treating them as one uniform group won’t do you any favors.
                            In fact, research shows that 71% of customers feel frustrated when a shopping experience feels impersonal. </p>

                    </div>
                </div>
            </div>
        </div>


        <div class="card">
                <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            What is customer analysis?
                        </button>
                    </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="guide">

                            <p> Customer analysis combines qualitative and quantitative research methods with the goal of better understanding of your customer base.
                                Knowing what makes your customers tick means you’ll be able to cater to their specific needs.</p><br>

                            <p> It's a tide that lifts all boats: marketing can create campaigns with better wording, sales can come up with better pitches,
                                product development will know what features to prioritize, etc.</p><br>

                            <p> Customer analysis typically moves through the following stages:</p><br>
                            <li> Identifying who your customers are.</li>
                            <li> Discovering their needs and their pain points.</li>
                            <li> Grouping customers according to similar traits and behaviors.</li>
                            <li> Creating a profile of your ideal customer(s).</li><br>
                            <p> Customer analysis can seem like a daunting task. In this post,
                                I'll walk you through the steps that every company can start with.</p><br>

                    </div>
                </div>
            </div>
        </div>




        <div class="card">
                <div class="card-header" id="headingThree">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Structure your existing customer database
                        </button>
                    </h5>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="guide">

                            <p> The best place to start is with your existing customer database.
                                You are likely already sitting on a wealth of data, although it might need some structuring in order to make sense out of it.</p><br>
                            <p> The first step in doing this is to divide your customer database into groups with similar characteristics. This process of dividing up data is called segmentation .</p><br>
                            <p> By segmenting your customers, you’ll be able to differentiate between customers and focus your marketing efforts on specific groups.</p><br>
                            <p> Customers are typically segmented into the following categories:    </p><br>
                            <li> <strong>Demographic: </strong>Age (range), gender, income</li><br>
                            <li> <strong>Geographic: </strong>Location-specific</li><br>
                            <li> <strong>Psychographic: </strong>Values, beliefs, interests, personality</li><br>
                            <li> <strong>Technographic: </strong>Based on the device/platform a customer is using, i.e. desktop vs. mobile</li><br>
                            <li> <strong>Behavioral: </strong>Behavioral segmentation methods , habits, frequent actions</li><br>
                            <li> <strong>Needs-based: </strong>Specific needs for a product/service</li><br>
                            <li> <strong>Value-based: </strong>Value to the company, typically measured by Customer Lifetime Value (CLV).
                                This the amount of profit your company is expected to generate
                                from a single customer over the whole period of their relationship with you.</li><br>
                            <li> <strong>Industry: </strong>For B2B, what industry the customer belongs to.</li><br>
                            <li> <strong>Business size: </strong>Also for B2B, the number of employees or the revenue size.</li><br>



                    </div>
                </div>
            </div>
        </div>


        <div class="card">
                <div class="card-header" id="headingFour">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            Identify your most valuable customers
                        </button>
                    </h5>
                </div>
                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="guide">

                            <p> Evaluate who your most valuable customers are.</p><br>
                            <p> 80% of business comes from 20% of customers. Before moving on to the other 80% of customers, it makes sense to first understand a clear view of these customers.</p><br>
                            <p> You can identify your most valuable customers by obtaining important customer
                                metrics and looking for patterns in the database.</p><br>
                            <p> Your customer database also provides other valuable insights. For example, demographic information about customers may not affect the use of the product,
                                but knowing their age and background is very important to the way you communicate with them. </p><br>


                    </div>
                </div>
            </div>
        </div>

        <div class="card">
                <div class="card-header" id="headingFive">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                            Talk to your customers
                        </button>
                    </h5>
                </div>
                <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="guide">

                            <p> Data tells only part of the story. To get inside your customers’ heads and understand their needs, you need to talk to them. This involves reaching out, scheduling calls or asking them to come to the office.
                                Interviewing is often paired with focus groups and usability studies.</p><br>
                            <p> One-to-one interviews. Interviewing customers in a one-to-one setting gives them the opportunity to share the emotions driving their purchases,
                                their pain points and their deepest needs.</p><br>
                            <p> Asking the right questions is crucial here. This is where the 5 Whys technique comes into play: by asking ‘why’ five times,
                                you peel away the layers of an issue and get to the root cause of a problem.</p><br>
                            <p> It's important to realize that people make 95% of their purchasing decisions based on emotions. To discover the emotional drivers behind purchases, an interview should feel like a conversation where your customer feels relaxed
                                and safe enough to trust you with their true thoughts and feelings.</p><br>
                            <p> HelpScout provides excellent tips for conducting a customer interview which include:</p><br>
                            <li> Asking open-ended questions</li><br>
                            <li> Practicing active listening</li><br>
                            <li> Paying attention to body language</li><br>

                            <p> Customer focus groups. A focus group gathers a selection of customers
                                in a room to discuss specific topics under the guidance of a trained facilitator.</p><br>
                            <p> Due to the diversity of participants, focus groups can be useful in eliciting a wide range of opinions on your products and services. On the flipside,
                                groupthink may inhibit free discussion or one person may dominate the group with their opinions.</p><br>
                            <p> The Call Centre Helper offers tips for running a successful focus group.</p><br>

                            <p> Usability study. Observing how just a few customers use the product can uncover problems with a website or an app.
                                The key here is to observe with an open mind to avoid inattentional blindness .</p><br>
                            <p> You can document your observations through notes, video recordings or photographs.</p><br>


                    </div>
                </div>
            </div>
        </div>


        <div class="card">
                <div class="card-header" id="headingSix">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                            Collect customer voices from the field
                        </button>
                    </h5>
                </div>
                <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="guide">

                            <p> Although interviews are valuable, they are also biased. There is a selection bias, for example, with customers with positive experiences more willing to participate than those with negative ones.
                                Also, the answers that people give don't always align with their actual behavior.</p><br>
                            <p> Because of this, it also makes sense to collect customer opinions from the field – from customer interactions, social media and review sites.</p><br>
                            <p> Service conversations. Your support department is in constant contact with your customers.
                                They are the destination for product issues, pain points and improvement suggestions.</p><br>
                            <p> Adding live chat such as Userlike to your website provides a stock of conversations. Support emails are also another resource for gleaning insights. The benefit of these support channels is that they are written,
                                which allows those doing the customer analysis to easily tap in.</p><br>
                            <p> Social media - sentiment analysis. If your customer has a brand experience or they want to rave about your new product, chances are, they’ll talk about it on social media. Unrestricted by survey-like questions,
                                people tend to leave no-holds barred feedback on forums like Twitter, Facebook, Reddit and Quora.</p><br>
                            <p>Sentiment analysis tools can help to gauge tone and sentiment which are trickier to measure than vanity metrics such as likes and follower counts:</p><br>
                            <li> Brandwatch</li><br>
                            <li> Critical Mention</li><br>
                            <li> Lexanalytics</li><br>

                            <p> Review sites. These can provide more concrete insights than social media forums. They also often make or break a customer’s decision to make a purchase.
                                At Userlike, we regularly check Capterra and G2 .</p><br>
                            <p> Gregory Ciotti from HelpScout recommends apps like Trello and Campfire to gather feedback into a collective tool. This removes the headache of analyzing feedback from different,
                                dispersed sources and keeps track of unmet customer needs.</p><br>

                    </div>
                </div>
            </div>
        </div>


        <div class="card">
                <div class="card-header" id="headingSeven">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                            Run surveys
                        </button>
                    </h5>
                </div>
                <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="guide">

                            <p> Talking to customers and collecting customer voices from the field are qualitative methods. Their purpose is to get a sense of the motivations and concerns of your customers. However, these will be hypotheses at best.
                                To test and proof these hypotheses, it makes sense to run customer surveys.</p><br>
                            <p> Let's say that by having gone through your database and talking to customers,
                                you have gotten the intuition that your European customers care more about data privacy issues than your American customers. That could be a powerful insight,
                                as it could inform how you tailor your messaging to these two audiences.</p><br>
                            <p> A survey could prove or disprove this hunch, by asking a significant number of customers to rate
                                the importance of data privacy compared to other features.</p><br>
                            <p> Conjoint analysis. This is a choice-based survey technique which asks customers to
                                place a value on each product or service feature via hypothetical questions.</p><br>
                            <p> For example, “would you rather buy a phone plan at §80 with 1200 minutes and no option to rollover unused data or buy
                                a plan at $60 with only 800 minutes but with the option to rollover data?”</p><br>
                            <p> This type of trade-off question shows what customers are willing to give up to get what they need. Resources to help you set up a conjoint analysis.</p><br>


                    </div>
                </div>
            </div>
        </div>


        <div class="card">
                <div class="card-header" id="headingEight">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                            Create buyer personas
                        </button>
                    </h5>
                </div>
                <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="guide">

                            <p> The next step after segmenting your customers is to use all the insights from
                                the above steps to create customer personas of your target customer(s).</p><br>
                            <p> Customer personas are simplifications of reality. They are stereotypes of your most valuable customers,
                                including their demographics, motivations, behavior patterns, goals and pain points.</p><br>
                            <p> The advantage of creating such personas is that they make it possible to think and talk about your customers. Our brains aren't wired to
                                think about large groups of heterogeneous people. We can, however, think in individuals.</p><br>
                            <p> Since different customers may buy your products for different reasons, consider creating more than one buyer persona.</p><br>

                    </div>
                </div>
            </div>
        </div>


        <div class="card">
                <div class="card-header" id="headingNine">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                            Create a customer journey map
                        </button>
                    </h5>
                </div>
                <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="guide">

                            <p> After you’ve conducted your customer analysis, you’ll want to analyze the data collected to identify common themes and patterns.</p><br>
                            <p> As a customer behaves differently at each stage of the buyer’s journey, a customer journey map can help to connect the dots,
                                and uncover pain points and factors that could make or break their experience.</p><br>
                            <p> A journey map is a visual representation of all the touchpoints and interactions a customer has to go through to reach his goal.</p><br>
                            <p> By mapping the customer’s journey, the car company can take measures to improve messaging and the mobile app to prevent churn at the early stages.</p><br>




                    </div>
                </div>
            </div>
        </div>


        <div class="card">
                <div class="card-header" id="headingTen">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                            Ever-expanding customer insights
                        </button>
                    </h5>
                </div>
                <div id="collapseTen" class="collapse" aria-labelledby="headingTen" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="guide">

                            <p> Running a customer analysis is one of the most valuable things you can do for your business, but it's not a set-it-and-forget-it tactic.
                                There will always be more insights to be won.</p><br>
                            <p> What's more, the market never sits still. New products, competitors, circumstances, targets groups, etc. will enter the scene.
                                The companies that are able to make the most sense out of this complexity are in the best position to benefit from it.</p><br>
                            <p> Stay close to your customers and re-run some form of customer analysis on a regular basis.</p><br>

                    </div>
                </div>
            </div>
        </div>





{% endblock %}