{% extends "base.html" %}
{% block title %}Document Library{% endblock %}

{% block content %}

    <h1>Document Library</h1>

    <p>Here is a record of all the files we have completed, click the button to watch and download</p>
    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item">
            <a class="nav-link" id="pills-files-tab999" data-toggle="pill" href="#documentChapter" role="tab"
               aria-controls="pills-gantt" aria-selected="false">Document Chapter 1.0</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" id="pills-files-tab1" data-toggle="pill" href="#documentCycle" role="tab"
               aria-controls="pills-gantt" aria-selected="false">Document Cycle of operations</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" id="pills-files-tab2" data-toggle="pill" href="#documentData" role="tab"
               aria-controls="pills-gantt" aria-selected="false">Data Patterns</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" id="pills-files-tab3" data-toggle="pill" href="#ethics" role="tab"
               aria-controls="pills-gantt" aria-selected="false">Ethics Presentation</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" id="pills-files-tab4" data-toggle="pill" href="#Chapter2" role="tab"
               aria-controls="pills-gantt" aria-selected="false">Chapter 2</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" id="pills-files-tab5" data-toggle="pill" href="#selfLearning" role="tab"
               aria-controls="pills-gantt" aria-selected="false">Self Learning Presentation</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" id="pills-files-tab6" data-toggle="pill" href="#ProjectPlan" role="tab"
               aria-controls="pills-gantt" aria-selected="false">Project Plan</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" id="pills-files-tab7" data-toggle="pill" href="#ProjectPresentation" role="tab"
               aria-controls="pills-gantt" aria-selected="false">Project Presentation</a>
        </li>


    </ul>


    <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade" id="documentChapter" role="tabpanel" aria-labelledby="pills-files-tab">
            <div class="card">
                <div class="card-header" id="headingSix">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                            The following is the Chapter 1.0:
                        </button>
                    </h5>
                </div>
                <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
                    <div class="card-body">

                        <p><a class="btn btn-primary view-pdf"
                              href="/templates/resources/Chapter%201.0%20Introduction.docx " target="_blank">Chapter 1.0
                            Introduction</a></p>


                    </div>
                </div>
            </div>
        </div>

        <div class="tab-pane fade" id="documentCycle" role="tabpanel" aria-labelledby="pills-files-tab">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                            The following is the Cycle of operations:
                        </button>
                    </h5>
                </div>
                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">

                        <p><a class="btn btn-primary view-pdf"
                              href="/templates/resources/Cycle%20of%20Operation%20-%20Caffine%20Overflow.docx "
                              target="_blank">Cycle of Operation</a></p>


                    </div>
                </div>
            </div>
        </div>


        <div class="tab-pane fade" id="documentData" role="tabpanel" aria-labelledby="pills-files-tab">
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            The following is the Data Patterns:
                        </button>
                    </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">

                        <p><a class="btn btn-primary view-pdf" href="/templates/resources/Data%20Patterns.pptx "
                              target="_blank">Data Patterns</a></p>
                    </div>
                </div>
            </div>
        </div>


        <div class="tab-pane fade" id="ethics" role="tabpanel" aria-labelledby="pills-files-tab">
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            The following is the Ethics Presentation:
                        </button>
                    </h5>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">

                        <p><a class="btn btn-primary view-pdf"
                              href="/templates/resources/Ethics_Presentation_Caffeine_Overflow.pptx " target="_blank">Ethics
                            Presentation</a></p>

                    </div>
                </div>
            </div>
        </div>

        <div class="tab-pane fade" id="selfLearning" role="tabpanel" aria-labelledby="pills-files-tab">
            <div class="card">
                <div class="card-header" id="headingFour">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            The following is the self Learning Presentation:
                        </button>
                    </h5>
                </div>
                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                    <div class="card-body">

                        <p><a class="btn btn-primary view-pdf"
                              href="/templates/resources/selfLearningPresentation-caffeineOverflow.pptx "
                              target="_blank">self Learning Presentation - caffeineOverflow</a></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-pane fade" id="Chapter2" role="tabpanel" aria-labelledby="pills-files-tab">
            <div class="card">
                <div class="card-header" id="headingFive">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                            The following is the Chapter 2:
                        </button>
                    </h5>
                </div>
                <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                    <div class="card-body">

                        <p><a class="btn btn-primary view-pdf" href="/templates/resources/Chapter%202.docx "
                              target="_blank">Chapter 2</a></p>
                    </div>
                </div>
            </div>
        </div>


        <div class="tab-pane fade" id="ProjectPlan" role="tabpanel" aria-labelledby="pills-files-tab">
            <div class="card">
                <div class="card-header" id="headingTen">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                            The following is the Project Plan:
                        </button>
                    </h5>
                </div>
                <div id="collapseTen" class="collapse" aria-labelledby="headingTen" data-parent="#accordionExample">
                    <div class="card-body">

                        <p><a class="btn btn-primary view-pdf"
                              href="/templates/resources/Project%20Plan%20-%20Caffien%20Overflow.docx " target="_blank">Project
                            Plan</a></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-pane fade" id="ProjectPresentation" role="tabpanel" aria-labelledby="pills-files-tab">
            <div class="card">
                <div class="card-header" id="headingSeven">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                            The following is the Project Presentation:
                        </button>
                    </h5>
                </div>
                <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordionExample">
                    <div class="card-body">

                        <p><a class="btn btn-primary view-pdf"
                              href="/templates/resources/ENG4001%20-%20Project%20Presentation.pptx " target="_blank">Project
                            Presentation</a></p>
                    </div>
                </div>
            </div>
        </div>


    </div>







{% endblock %}



