{% extends "base.html" %}
{% block title %}Finding Data{% endblock%}

{% block content %}

<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="pills-pycharm-tab" data-toggle="pill" href="#pills-pycharm" role="tab"
           aria-controls="pills-pycharm" aria-selected="false">Finding Data</a>
    </li>
</ul>

<div class="tab-pane fade show active" id="pills-pycharm" role="tabpanel" aria-labelledby="pills-pycharm-tab">
    <hr/>

    <div class="accordion" id="accordionGuide">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                            aria-expanded="true" aria-controls="collapseOne">
                        Description
                    </button>
                </h5>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionGuide">
                <div class="card-body">
                    <div class="description">

                        <p> Know where to start looking for data. In the process, you will look at different methods of obtaining data, and then find your own data in a relaxed way. <br></p>
                        <p> First define the subject and specify the subject so that you can narrow your search, but be flexible enough to tailor your needs based on existing sources. </p>

                    </div>
                </div>
            </div>
        </div>

        <div class="card">
                <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Define the theme
                        </button>
                    </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="guide">

                            <p> When searching for data, follow specific steps to ensure that you get accurate and relevant project data. Use the information below to start searching for your data.</p><br>
                            <p> Before searching for data, clearly define the type of data you need. Ask yourself the following questions to help identify potential data sources.</p><br>
                            <li> What are you measuring?</li><br>
                            <p> What is the analysis unit related to your topic? What are you studying?</p><br>
                            <li> When did your research topic happen?</li><br>
                            <p> Specify the date or time frame you are interested in. Keep in mind that for recent events,
                                data may not be available immediately. In addition, the existence of a subject's data today does not mean that it exists in the past.
                                Likewise, just because data existed in the past does not mean that the same data exists now.</p><br>
                            <li> What is the focus of your research topic?</li><br>
                            <p> Determine the geographic location of your topic's attention.
                                Your topic can focus on political boundaries,
                                such as countries, states, countries, cities, or regions.
                                It may also focus on statistical boundaries,
                                such as census tracts or urban areas.</p><br>
                            <li> Who can collect data about your subject?</li><br>
                            <p> The main data collectors are private companies,
                                government agencies, non-governmental organizations, academic institutions,
                                and voting organizations.</p><br>
                            <li> How is the data collected?</li><br>
                            <p> How often is the data collected, collected regularly or only once in a period of time?
                                Is it collected from surveys or interviews? Is the collected data ethical?</p><br>

                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header" id="headingThree">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Keywords and search terms
                        </button>
                    </h5>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                     data-parent="#accordionExample">
                    <div class="card-body">
                        <p> After defining topic boundaries, you can use them to identify search terms or keywords to begin the search process.
                            This will ensure that the search method is efficient and effective, saves time, and produces the most relevant results.</p><br>
                        <li> To get started, divide the topic into different sections and identify the main concepts.</li><br>
                        <p> For example, from 2015 to 2020, how many cars were traded between Germany and the United States? For this question, your main concept is:
                            What is the main core thing? (Car)
                            What is the main action? (trade)
                            Who are the participants? (Germany and the United States)
                            What time is it? (2015 and 2020).</p><br>
                        <li> When searching for data, use these concepts as keywords. When proposing appropriate search terms, be sure to consider synonyms and word variations.</li><br>
                        <p> For example, you can try to search for the words "import" or "export" instead of "transaction".</p><br>

                    </div>
                </div>
            </div>



        <div class="card">
            <div class="card-header" id="headingFour">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            Strategies for finding data
                        </button>
                    </h5>
                </div>
                <div id="collapseFour" class="collapse" aria-labelledby="headingFour"
                     data-parent="#accordionExample">
                    <div class="card-body">

                        <li> <strong> Search strategy #1 </strong> Start with general data search.</li><br>
                        <p> If you are not sure what types of variables exist or what data is relevant to the project, this is a good strategy. Select a portal from the general data list.</p><br>

                        <li> <strong> Search strategy #2 </strong> Search by main research area.</li><br>
                        <p> Visit the online data source to find a suitable area for your research.</p><br>

                        <li> <strong> Search strategy #3 </strong> Targeted search.</li><br>
                        <p> If you are familiar with library databases or know who is the main source of the data you are looking for,
                            this may be a good strategy. Visit the library database, or go to the website of the relevant organization to find the data.</p><br>

                        <li> <strong> Search strategy #4 </strong> Turn to literature.</li><br>
                        <p> By searching existing literature, you can discover data sets. When you find a related article,
                            it may point to the data set it uses. You can also browse the data repository to see if anyone has archived the data in their research.</p><br>



                    </div>
                </div>
            </div>



        <div class="card">
            <div class="card-header" id="headingFive">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                            Find Free Datasets
                        </button>
                    </h5>
                </div>
                <div id="collapseFive" class="collapse" aria-labelledby="headingFive"
                     data-parent="#accordionExample">
                    <div class="card-body">
                        <p> 10 Great Places to Find Free Datasets for Your Next Project</p><br>
                        <li> Google Dataset Search.</li><br>
                        <li> Kaggle.</li><br>
                        <li> Data.Gov.</li><br>
                        <li> Datahub.io.</li><br>
                        <li> UCI Machine Learning Repository.</li><br>
                        <li> Earth Data.</li><br>
                        <li> CERN Open Data Portal.</li><br>
                        <li> Global Health Observatory Data Repository.</li><br>
                        <li> NYC Taxi Trip Data</li><br>
                        <li> FBI Crime Data Explorer</li><br>
                    </div>
                </div>
            </div>


        <div class="card">
            <div class="card-header" id="headingSix">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                            Summary
                        </button>
                    </h5>
                </div>
                <div id="collapseSix" class="collapse" aria-labelledby="headingSix"
                     data-parent="#accordionExample">
                    <div class="card-body">
                        <p> From basic development to step-by-step learning and research to find data, from what data is needed, clarifying one's research direction,
                            and finally determining the goal, starting is to find data and put it into practice, and find data that meets your goals on the Internet.</p><br>
                    </div>
                </div>
            </div>











            </div>
            </div>
    </div>
{% endblock %}
