{% extends "base.html" %}
{% block title %}Flask{% endblock %}

{% block content %}

    <h1>Flask</h1>

    <hr>

    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="pills-pycharm-tab" data-toggle="pill" href="#pills-pycharm" role="tab"
               aria-controls="pills-pycharm" aria-selected="false">Flask</a>
        </li>
    </ul>
    <div class="tab-pane fade show active" id="pills-pycharm" role="tabpanel" aria-labelledby="pills-pycharm-tab">
        <hr/>

        <div class="accordion" id="accordionGuide">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                                aria-expanded="true" aria-controls="collapseOne">
                            Description
                        </button>
                    </h5>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionGuide">
                    <div class="card-body">
                        <div class="description">

                            <p><a href="https://flask.palletsprojects.com/en/2.0.x/"
                                  target="_blank" style="color: rgb(0,0,230)"><u>Flask</u></a> is a web framework. This
                                means flask provides you with tools, libraries and technologies that allow you to build
                                a web application.
                                This web application can be some web pages, a blog, a wiki or go as big as a web-based
                                calendar application or a commercial website. <br></p>
                            <p>Flask is part of the categories of the micro-framework. Micro-framework are normally
                                framework with little to no dependencies to external libraries. This has pros and cons.
                                Pros would be that the framework is light,
                                there are little dependency to update and watch for security bugs,
                                cons is that some time you will have to do more work by yourself or increase yourself
                                the list of dependencies by adding plugins.
                                In the case of Flask, its dependencies are:</p>
                            <ul>
                                <li><a href="https://werkzeug.palletsprojects.com/en/2.0.x/"
                                       target="_blank" style="color: rgb(0,0,230)"><u>Werkzeug</u></a> a WSGI utility
                                    library
                                </li>
                                <li><a href="https://jinja.palletsprojects.com/en/3.0.x/"
                                       target="_blank" style="color: rgb(0,0,230)"><u>jinja2</u></a> which is its
                                    template engine
                                </li>
                            </ul>

                            <p><br><br>Advantages of Flask: <br><br></p>

                            <ul>
                                <li> Higher compatibility with latest technologies.</li>
                                <li> Technical experimentation.</li>
                                <li> Easier to use for simple cases.</li>
                                <li> Codebase size is relatively smaller.</li>
                                <li> High scalability for simple applications,</li>
                                <li> Easy to build a quick prototype.</li>
                                <li> Routing URL is easy.</li>
                                <li> Easy to develop and maintain applications.</li>
                            </ul>

                            <p><br><br>Disadvantages of Flask: <br><br></p>

                            <ul>
                                <li> Not suitable for big applications.</li>
                                <li> Community.</li>
                                <li> Full-Stack experience.</li>
                                <li> No admin site.</li>
                                <li> No login or authentication.</li>
                                <li> ORM.</li>
                                <li> Migrations can be difficult.</li>
                            </ul>
                        </div>
                    </div>
                </div>


                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                    data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Installation
                            </button>
                        </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                        <div class="card-body">
                            <div class="guide">
                                <h3>Python Version</h3>
                                <br>
                                <p>We recommend using the latest version of Python. Flask supports Python 3.6 and newer.
                                    async support in Flask requires Python 3.7+ for .contextvars.ContextVar</p>

                                <h3>Dependencies</h3>
                                <br>

                                <p>These distributions will be installed automatically when installing Flask.</p>

                                <ul>
                                    <li><a href="https://palletsprojects.com/p/werkzeug/"
                                           target="_blank" style="color: rgb(0,0,230)"><u>Werkzeug</u></a> implements
                                        WSGI, the standard Python interface between applications and servers.
                                    </li>
                                    <li><a href="https://palletsprojects.com/p/jinja/"
                                           target="_blank" style="color: rgb(0,0,230)"><u>Jinja</u></a> is a template
                                        language that renders the pages your application serves.
                                    </li>
                                    <li><a href="https://palletsprojects.com/p/markupsafe/"
                                           target="_blank" style="color: rgb(0,0,230)"><u>MarkupSafe</u></a> comes with
                                        Jinja. It escapes untrusted input when rendering templates to avoid injection
                                        attacks.
                                    </li>
                                    <li><a href="https://palletsprojects.com/p/itsdangerous/"
                                           target="_blank" style="color: rgb(0,0,230)"><u>ItsDangerous</u></a> securely
                                        signs data to ensure its integrity. This is used to protect Flask’s session
                                        cookie.
                                    </li>
                                    <li><a href="https://palletsprojects.com/p/click/"
                                           target="_blank" style="color: rgb(0,0,230)"><u>Click</u></a> is a framework
                                        for writing command line applications. It provides the command and allows adding
                                        custom management commands.flask
                                    </li>
                                </ul>

                                <br><br>
                                <h3>Optional dependencies</h3>
                                <br>

                                <p>These distributions will not be installed automatically. Flask will detect and use
                                    them if you install them.</p>

                                <ul>
                                    <li><a href="https://pythonhosted.org/blinker/"
                                           target="_blank" style="color: rgb(0,0,230)"><u>Blinker</u></a> provides
                                        support for <a href="https://flask.palletsprojects.com/en/2.0.x/cli/#dotenv"
                                                       target="_blank" style="color: rgb(0,0,230)"><u>Signals</u></a>.
                                    </li>
                                    <li><a href="https://github.com/theskumar/python-dotenv#readme"
                                           target="_blank" style="color: rgb(0,0,230)"><u>python-dotenv</u></a> enables
                                        support for Environment Variables From dotenv when running commands.flask
                                    </li>
                                    <li><a href="https://pythonhosted.org/watchdog/"
                                           target="_blank" style="color: rgb(0,0,230)"><u>Watchdog</u></a> provides a
                                        faster, more efficient reloader for the development server.
                                    </li>
                                </ul>

                                <br><br>
                                <h3>Virtual environments</h3>
                                <br>
                                <p>Use a virtual environment to manage the dependencies for your project, both in
                                    development and in production.</p>
                                <p>What problem does a virtual environment solve?
                                    The more Python projects you have, the more likely it is that you need to work with
                                    different versions of Python libraries,
                                    or even Python itself. Newer versions of libraries for one project can break
                                    compatibility in another project.</p>
                                <p>Virtual environments are independent groups of Python libraries, one for each
                                    project.
                                    Packages installed for one project will not affect other projects or the operating
                                    system’s packages.</p>
                                <p>Python comes bundled with the <a
                                        href="https://docs.python.org/3/library/venv.html#module-venv"
                                        target="_blank" style="color: rgb(0,0,230)"><u>venv</u></a> module to create
                                    virtual environments.</p>

                                <br>
                                <h3>Create an environment</h3>
                                <br>
                                <p>Create a project folder and a venv folder within:</p>
                                <p>Windows</p>

                                <pre>
                            <code class="language-bash">
                                > mkdir myproject
                                > cd myproject
                                > py -3 -m venv venv
                            </code>
                            </pre>
                                <br>

                                <p>macOS/Linux</p>

                                <pre>
                            <code class="language-bash">
                                $ mkdir myproject
                                $ cd myproject
                                $ python3 -m venv venv
                            </code>
                            </pre>
                                <br>

                                <br>
                                <h3>Activate the environment</h3>
                                <br>
                                <p>Before you work on your project, activate the corresponding environment:</p>
                                <p>Windows</p>

                                <pre>
                            <code class="language-bash">
                                > venv\Scripts\activate
                            </code>
                            </pre>
                                <br>

                                <p>macOS/Linux</p>

                                <pre>
                            <code class="language-bash">
                                $ . venv/bin/activate
                            </code>
                            </pre>
                                <br>

                                <p>Your shell prompt will change to show the name of the activated environment.</p>

                                <br>
                                <h3>Install Flask</h3>
                                <br>
                                <p>Within the activated environment, use the following command to install Flask:</p>

                                <pre>
                            <code class="language-bash">
                                $ pip install Flask
                            </code>
                            </pre>
                                <br>

                                <p>Flask is now installed. Check out the <a
                                        href="https://flask.palletsprojects.com/en/2.0.x/quickstart/"
                                        target="_blank" style="color: rgb(0,0,230)"><u>Quickstart</u></a> or go to the
                                    <a href="https://flask.palletsprojects.com/en/2.0.x/"
                                       target="_blank" style="color: rgb(0,0,230)"><u>Documentation Overview</u></a>.
                                </p>

                            </div>
                        </div>
                    </div>
                </div>


                <div class="card">
                    <div class="card-header" id="headingThree">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                    data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Summary
                            </button>
                        </h5>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                         data-parent="#accordionExample">
                        <div class="card-body">
                            <p>Flask is a web application framework written in Python. It is developed by Armin
                                Ronacher, who leads an international group of Python enthusiasts named Pocco.
                                Flask is based on the Werkzeug WSGI toolkit and Jinja2 template engine. Both are Pocco
                                projects.</p>
                            <ul>
                                <li><strong>Classifications: </strong>Web framework</li>
                                <li><strong>Programming languages used: </strong>Python</li>
                                <li><strong>Developer: </strong>Armin Ronacher</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}