{% extends "base.html" %}
{% block title %}Sample Project{% endblock%}

{% block content %}
 

<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/static/css/map.css">
	<title>Canada and USA</title>
	
</head>
<body>
	<!-- CANADA -->
	<h1>CANADA MAP WITH DATA</h1>
	<div id="canada"></div>
	<!-- USA -->
	<h1>USA</h1>
	<div id="usa"></div>

<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	<script src="https://d3js.org/d3.v3.min.js"></script>
	<script src="https://d3js.org/topojson.v1.min.js"></script>
	<script src="https://rawgithub.com/markmarkoh/datamaps/master/dist/datamaps.none.min.js"></script>
	<script src="/static/js/script.js"></script>
</body>
</html>


<pre>
<code class="language-markup">
<script type="prism-html-markup">
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/static/css/map.css">
	<title>Canada and USA</title>
	
</head>
<body>
	<!-- CANADA -->
	<h1>CANADA</h1>
	<div id="canada"></div>
	<!-- USA -->
	<h1>USA</h1>
	<div id="usa"></div>
<script src="https://code.jquery.com/jquery-3.1.1.min.js">
	<script src="https://d3js.org/d3.v3.min.js">
	<script src="https://d3js.org/topojson.v1.min.js">
	<script src="https://rawgithub.com/markmarkoh/datamaps/master/dist/datamaps.none.min.js">
	<script src="/static/js/script.js">
</body>
</html>
</script>
</code>
</pre>

<h1>Script.js</h1>
<pre>
<code class="language-javascript">

$(function() {
	var canadaMap = new Datamap({
		element: document.getElementById('canada'),
		geographyConfig: {
			dataUrl: '/static/geojson/canada.topo.json'
		},
		scope: 'canada',
		fills: {
			defaultFill: '#bada55'
		},
		setProjection: function(element) {
			var projection = d3.geo.mercator()
				.center([-95, 71])
				.scale(400)
				.translate([element.offsetWidth / 2, element.offsetHeight / 2]);
			var path = d3.geo.path().projection(projection);
			return {path: path, projection: projection};
		}
	});
	var USAmap = new Datamap({
		element: document.getElementById('usa'),
		geographyConfig: {
			dataUrl: '/static/geojson/usa.topo.json'
		},
		scope: 'usa',
		fills: {
			defaultFill: '#bada55'
		},
		setProjection: function(element) {
			var projection = d3.geo.mercator()
				.center([-120, 54])
				.scale(700)
				.translate([element.offsetWidth / 2, element.offsetHeight / 2]);
			var path = d3.geo.path().projection(projection);
			return {path: path, projection: projection};
		}
	});
});

</code>
</pre>
<h1>CSS</h1>
<pre>
<code class="language-CSS">
<style>
#canada {
    border: 1px solid #000000;
    height: 950px;
    width: 1500px;
}

#usa {
    border: 2px solid #EDA552;
    height: 1200px;
    width: 1500px;
}
</style>
</code>
</pre>

</body>

</html>
{% endblock %}
