{% extends "base.html" %}
{% block title %}Sample Project{% endblock%}

{% block content %}


<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="pills-pycharm-tab" data-toggle="pill" href="#pills-pycharm" role="tab"
           aria-controls="pills-pycharm" aria-selected="false">Market Analysis</a>
    </li>
</ul>


<div class="tab-pane fade show active" id="pills-pycharm" role="tabpanel" aria-labelledby="pills-pycharm-tab">
    <hr/>

    <div class="accordion" id="accordionGuide">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                            aria-expanded="true" aria-controls="collapseOne">
                        Description
                    </button>
                </h5>
            </div>


            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionGuide">
                <div class="card-body">
                    <div class="description">

                        <p> A market analysis can help you identify how to better position your business to be competitive and serve your customers.</p><br>
                        <li> A market analysis is a thorough assessment of a market within a specific industry.</li><br>
                        <li> There are many benefits of conducting a market analysis, such as reducing risk for your business and better informing your business decisions.</li><br>
                        <li> There are seven steps in conducting a market analysis.</li><br>
                        <li> This article is for business owners who want to know why they should conduct a market analysis and how to do it.</li><br>
                        <p> Understanding your customer base is one of the first key steps to success in business. Without knowing who your customers are, what they want and how they want to get it from you, your business could struggle to come up with an effective marketing strategy. This is where a market analysis comes in. A market analysis can be a time-intensive process, but it is straightforward and easy to do on your own in seven steps.</p><br>




                    </div>
                </div>
            </div>
        </div>


        <div class="card">
                <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            What is a market analysis?
                        </button>
                    </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="guide">

                            <p> A market analysis is a thorough assessment of a market within a specific industry. With this analysis, you will study the dynamics of your market, such as volume and value, potential customer segments, buying patterns, competition, and other important factors. A thorough marketing analysis should answer the following questions:</p><br>
                            <li> Who are my potential customers?</li><br>
                            <li> What are my customers' buying habits?</li><br>
                            <li> How large is my target market?</li><br>
                            <li> How much are customers willing to pay for my product?</li><br>
                            <li> Who are my main competitors?</li><br>
                            <li> What are my competitors' strengths and weaknesses?</li><br>
                            <p> <strong>Key takeaway: A market analysis is a thorough assessment of a market within an industry.</strong></p><br>


                    </div>
                </div>
            </div>
        </div>


        <div class="card">
                <div class="card-header" id="headingThree">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            What are the benefits of running a marketing analysis?
                        </button>
                    </h5>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="guide">

                            <p> A marketing analysis can reduce risk, identify emerging trends, and help project revenue. You can use a marketing analysis at several stages of your business, and it can even be beneficial to conduct one every year to keep up to date with any major changes in the market.</p><br>

                            <p> A detailed market analysis will usually be part of your business plan, since it gives you a greater understanding of your audience and competition, helping you build a more targeted marketing strategy.</p><br>
                            <p> These are some other major benefits of conducting a market analysis:</p><br>
                            <li> <strong>Risk reduction: </strong>Knowing your market can reduce risks in your business, since you'll have an understanding of major market trends, the main players in your industry, and what it takes to be successful, all of which will inform your business decisions. To help you further protect your business, you can also conduct a SWOT analysis, which identifies the strengths, weaknesses, opportunities and threats for a business.</li><br>
                            <li> <strong>Targeted products or services: </strong> You are in a much better position to serve your customers when you have a firm grasp on what they are looking for from you. When you know who your customers are, you can use that information to tailor your business's offerings to your customers' needs.</li><br>
                            <li> <strong>Emerging trends: </strong></li>Staying ahead in business is often about being the first to spot a new opportunity or trend, and using a marketing analysis to stay on top of industry trends is a great way to position yourself to take advantage of this information.<br>
                            <li> <strong>Revenue projections: </strong>A market forecast is a key component of most marketing analyses, as it projects the future numbers, characteristics and trends in your target market. This gives you an idea of the profits you can expect, allowing you to adjust your business plan and budget accordingly.</li><br>
                            <li> <strong>Evaluation benchmarks: </strong>It can be difficult to gauge your business's success outside of pure numbers. A market analysis provides benchmarks against which you can judge your company and how well you are doing compared to others in your industry.</li><br>
                            <li> <strong>Context for past mistakes: </strong>Marketing analytics can explain your business's past mistakes or industry anomalies. For example, in-depth analytics can explain what impacted the sale of a specific product, or why a certain metric performed the way it did. This can help you avoid making those mistakes again or experiencing similar anomalies, because you'll be able to analyze and describe what went wrong and why.</li><br>
                            <li> <strong>Marketing optimization: </strong></li>This is where an annual marketing analysis comes in handy – regular analysis can inform your ongoing marketing efforts and show you which aspects of your marketing need work, and which are performing well in comparison to the other companies in your industry.<br>
                            <p> <strong>Key takeaway: A market analysis can benefit your business in many ways, especially if you conduct regular analyses to make sure you have current information for your marketing efforts.</strong></p><br>


                    </div>
                </div>
            </div>
        </div>



            {% endblock %}