{% extends "base.html" %}
{% block title %}MongoDB{% endblock %}

{% block content %}

    <h1>MongoDB</h1>

    <hr>

    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="pills-description-tab" data-toggle="pill" href="#pills-description"
               role="tab"
               aria-controls="pills-description" aria-selected="false">Description</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="pills-installation-tab" data-toggle="pill" href="#pills-installation"
               role="tab"
               aria-controls="pills-installation" aria-selected="false">Installation and Setup Guide</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="pills-pymongo-tab" data-toggle="pill" href="#pills-pymongo"
               role="tab"
               aria-controls="pills-pymongo" aria-selected="false">PyMongo</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="pills-links-tab" data-toggle="pill" href="#pills-links"
               role="tab"
               aria-controls="pills-links" aria-selected="false">Links</a>
        </li>
    </ul>

    <hr>

    <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-description" role="tabpanel"
             aria-labelledby="pills-description-tab">


            <p> MongoDB is an open source NoSQL database management program. NoSQL is used as an
                alternative to traditional relational databases.
                NoSQL databases are quite useful for working with large sets of distributed data.
                MongoDB is a tool that can manage document-oriented information, store or retrieve
                information. <br></p>

            <p>Like any other database management language, MongoDB is based on a NoSQL database that is
                used for storing data in a key-value pair.
                Its working is based on the concept of document and collection.
                It is also an open-source, a document-oriented, cross-platform database system that is
                written using C++.</p><br>
            <p>Mongo DB can be defined as a document-oriented database system that uses the concept of
                NoSQL. It also provides high availability, high performance, along with automatic
                scaling. This open-source product was developed by the company - 10gen in October 2007,
                and the company also maintains it. MongoDB exists under the General Public License (GPL)
                as a free database management tool as well as available under Commercial license as of
                the manufacturer.
                MongoDB was also intended to function with commodity servers.
                Companies of different sizes all over the world across all industries are using MongoDB
                as their database. </p>

            <p>Advantages of MongoDB: <br><br></p>
            <ul>
                <li> Flexible document schemas.</li>
                <li> Code-native data access.</li>
                <li> Change-friendly design.</li>
                <li> Powerful querying and analytics.</li>
                <li> Easy horizontal scale-out.</li>
            </ul>
            <p><br><br>Disadvantages of MongoDB: <br><br></p>
            <ul>
                <li> MongoDB uses high memory for data storage.</li>
                <li> There is a limit for document size, i.e. 16mb.</li>
                <li> There is no transaction support in MongoDB.</li>
            </ul>

        </div>
        <div class="tab-pane fade" id="pills-installation" role="tabpanel" aria-labelledby="pills-installation-tab">

            <h3>This section contains a guide for how to using MongoDB</h3>
            <br><br>

            <h5>Install MongoDB</h5><br><br>
            <p>Download the binaries from the <a href="https://www.mongodb.com/try#production"
                                                 target="_blank">MongoDB
                Download Center</a></p>
            <br>
            <p>1. Open Windows Explorer/File Explorer.</p>
            <p>2. Change the directory path to where you downloaded the MongoDB .msi file. By
                default, this is %HOMEPATH%\Downloads.</p>
            <p>3. Double-click the .msi file.</p>
            <p>4. The Windows Installer guides you through the installation process.
                If you choose the Custom installation option, you may specify an installation
                directory.
                MongoDB does not have any other system dependencies. You can install and run MongoDB
                from any folder you choose.</p>

            <p>Note</p>
            <br>
            <p>This tutorial assumes that you installed MongoDB in C:\Program
                Files\MongoDB\Server\4.2\.
            </p>
            <br><br>


            <h5>Run MongoDB</h5><br>
            <h5>First Step</h5><br>
            <p>Set up the MongoDB environment.</p>
            <p>MongoDB requires a data directory to store all data.
                MongoDB’s default data directory path is the absolute path \data\db on the drive
                from which you start MongoDB.
                Create this folder by running the following command in a Command Prompt:</p>

            <pre>
                            <code class="language-bash">
                                md \data\db
                            </code>
                            </pre>
            <br>

            <p>You can specify an alternate path for data files using the
                <a href="https://docs.mongodb.com/manual/reference/program/mongod/#std-option-mongod.--dbpath"
                   target="_blank">--dbpath</a>
                option to
                <a href="https://docs.mongodb.com/manual/reference/program/mongod.exe/#mongodb-binary-bin.mongod.exe"
                   target="_blank">mongod.exe</a>
                , for example:</p>

            <pre>
                                    <code class="language-bash">
                                        "C:\Program Files\MongoDB\Server\4.2\bin\mongod.exe" --dbpath d:\test\mongodb\data
                                    </code>
                                </pre>
            <br>

            <p>If your path includes spaces, enclose the entire path in double quotes, for
                example:</p>

            <pre>
                            <code class="language-bash">
                            "C:\Program Files\MongoDB\Server\4.0\bin\mongod.exe" --dbpath "d:\test\mongo db data"
                            </code>
                            </pre>
            <br>

            <p>You may also specify the dbpath in a <a
                    href="https://docs.mongodb.com/manual/reference/configuration-options/"
                    target="_blank">configuration file</a>.</p>

            <h5>Second Step</h5><br>
            <p>Start MongoDB.</p>
            <p>To start MongoDB, run
                <a href="https://docs.mongodb.com/manual/reference/program/mongod.exe/#mongodb-binary-bin.mongod.exe"
                   target="_blank">mongod.exe</a>. For example,
                from the Command Prompt:</p>

            <pre>
                            <code class="language-bash">
                            "C:\Program Files\MongoDB\Server\4.0\bin\mongod.exe"
                            </code>
                            </pre>
            <br>

            <p>This starts the main MongoDB database process. The waiting for connections message in
                the console output indicates that the
                <a href="https://docs.mongodb.com/manual/reference/program/mongod.exe/#mongodb-binary-bin.mongod.exe"
                   target="_blank">mongod.exe</a> process is
                running successfully.</p><br><br><br>

            <p>Depending on the security level of your system, Windows may pop up a Security Alert
                dialog box about blocking “some features”
                of C:\Program Files\MongoDB\Server\4.0\bin\mongod.exe from communicating on
                networks.
                All users should select Private Networks, such as my home or work network and click
                Allow access.
                For additional information on security and MongoDB, please see the <a
                        href="https://docs.mongodb.com/manual/security/"
                        target="_blank">Security
                    Documentation</a>.</p>

            <h5>Third Step</h5><br>
            <p>Verify that MongoDB has started successfully</p>
            <p>Verify that MongoDB has started successfully by checking the process output for the
                following line:</p>

            <pre>
                            <code class="language-bash">
                            [initandlisten] waiting for connections on port 27017
                            </code>
                            </pre>
            <br>

            <p>The output should be visible in the terminal or shell window.</p><br>

            <p>You may see non-critical warnings in the process output. As long as you see the log
                line shown above, you can safely ignore these warnings during your initial
                evaluation of MongoDB.</p>

            <h5>Fourth Step</h5><br>
            <p>Connect to MongoDB.</p>
            <p>To connect to MongoDB through the <a
                    href="https://docs.mongodb.com/manual/reference/program/mongo/#mongodb-binary-bin.mongo"
                    target="_blank">~bin.mongo.exe</a> shell,
                open another Command Prompt.</p>

            <pre>
                            <code class="language-bash">
                            "C:\Program Files\MongoDB\Server\4.0\bin\mongo.exe"
                            </code>
                            </pre>
            <br>

        </div>

        <div class="tab-pane fade" id="pills-pymongo" role="tabpanel" aria-labelledby="pills-pymongo-tab">

            <h3>PyMongo</h3>

            <p>PyMongo is a Python module used to interface between MongoDB and Python applications. To install the PyMongo library,
                install onto your version of Python from command line using the following command:</p>

            <pre class="command-line language-bash" data-user="root" data-host="localhost" tabindex="0">
                <code class="language-bash">
                    <span class="command-line-prompt">
                        <span data-user="root" data-host="localhost"></span>
                        <span class="token builtin class-name">pip</span> install pymongo
                    </span>
                </code>
            </pre>

            <br/>

            <p>To import the PyMongo library into your scripts, use the following code to have access to it as a
                reference: </p>

            <pre>
                <code class="language-javascript">
                    <script type="prism-python">
                        import pymongo

                    </script>
                </code>
            </pre><br/>

            <p>You'll generally want to use the MongoClient object to gain access to
            the mongod instance while it is running.</p>

            <pre>
                <code class="language-javascript">
                    <script type="prism-python">
                        from pymongo import MongoClient

                        # define a port and host to connect to
                        MONGODB_HOST = 'localhost'
                        MONGODB_PORT = 27017

                        # initialize the MongoClient object by connecting to the port and host
                        connection = MongoClient(MONGODB_HOST, MONGODB_PORT)

                    </script>
                </code>
            </pre><br/>

            <p>You can access a particular database using the MongoClient object. From there,
            you can also search for particular collections(tables) within the database as well.</p>

            <pre>
                <code class="language-javascript">
                    <script type="prism-python">
                        from pymongo import MongoClient

                        # define a port and host to connect to
                        MONGODB_HOST = 'localhost'
                        MONGODB_PORT = 27017

                        # initialize the MongoClient object by connecting to the port and host
                        connection = MongoClient(MONGODB_HOST, MONGODB_PORT)

                        # use the MongoClient to search for a database by name
                        database = connection['mydatabase']

                        # use your database to access documents
                        collection = database['mycollection']

                        # you can also use the database variable to get a list of collections as well
                        database.list_collection_names()
                    </script>
                </code>
            </pre><br/>

            <p>MongoDB uses documents, written in BSON, which act as database records.
            You can insert either one document or multiple at a time. These can also be queried, updated,
            deleted, much like any other CRUD operations in a typical database.</p>

            <pre>
                <code class="language-javascript">
                    <script type="prism-python">
                        from pymongo import MongoClient

                        # define a port and host to connect to
                        MONGODB_HOST = 'localhost'
                        MONGODB_PORT = 27017

                        # initialize the MongoClient object by connecting to the port and host
                        connection = MongoClient(MONGODB_HOST, MONGODB_PORT)

                        # use the MongoClient to search for a database by name
                        database = connection['mydatabase']

                        # use your database to access documents
                        collection = database['mycollection']

                        # sample record to insert
                        record = {
                        "name": "Mark",
                        "program": "Computer Science",
                        "courses": ["Game Programming", "Real-Time Programming", "Project", "Technical Report"]
                        }

                        # insert a solo record into the collection using insert_one
                        collection.insert_one(record)

                        # Establish a file to open and read
                        file = open(path_to_file + "/" + "mydoc.csv", 'r')
                        reader = csv.DictReader(csvFile)

                        # insert into the collection as many documents(records)
                        # using the insert_many function
                        collection.insert_many(reader)

                        # You can use the find_one function to query documents based on
                        # specific values in the record
                        collection.find_one({"name": "Mark"})

                        # To search for multiple documents with the same criteria,
                        # use the find() function, with the search criteria as your parameter
                        # Using find() with no parameters will return a list of all documents within a collection
                        for doc in collection.find({"name": "Mark"})
                            print(doc)

                        # this will delete one record using the search parameters
                        collection.delete_one({"name":"Mark"})

                        # this will delete all records that match the search criteria
                        # Calling this function with no arguments will delete all documents in the collection
                        collection.delete_many({"name":"Mark"})

                        # this will update one document with the old parameter on the left with the new parameters in the right
                        collection.update_one ({"program": "Computer Science"}, {"$set": {"program": "Computer Engineering Technology"}})

                        # this will update all documents with the old parameter on the left with the new parameters in the right
                        collection.update_one ({"program": "Computer Science"}, {"$set": {"program": "Computer Engineering Technology"}})

                        # this will delete an entire collection from the database
                        collection.drop()

                        # once you're finished with database operations, don't forget to close the connection
                        collection.close()

                    </script>
                </code>
            </pre><br/>

            <small>Source: <a target="_blank" href="https://pymongo.readthedocs.io/en/stable/tutorial.html">Tutorial - PyMongo</a></small>

        </div>

        <div class="tab-pane fade" id="pills-links" role="tabpanel" aria-labelledby="pills-links-tab">
            <div class="accordion" id="accordionGuide-links">

                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                                    aria-expanded="false" aria-controls="collapseOne">
                                MongoDB Documentation
                            </button>
                        </h5>
                    </div>

                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne"
                         data-parent="#accordionGuide-links">
                        <div class="card-body">
                            <div class="description">
                                <a target="_blank"
                                   href="https://docs.mongodb.com/">Link</a>
                                <p><strong>Description</strong><br></p>
                                <p>Official documentation for MongoDB</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h5 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseTwo"
                                    aria-expanded="false" aria-controls="collapseTwo">
                                W3Schools - Python MongoDB
                            </button>
                        </h5>
                    </div>

                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                         data-parent="#accordionGuide-links">
                        <div class="card-body">
                            <div class="description">
                                <a target="_blank"
                                   href="https://www.w3schools.com/python/python_mongodb_getstarted.asp">Link</a>
                                <p><strong>Description</strong><br></p>
                                <p>W3Schools tutorial on using PyMongo</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="headingThree">
                        <h5 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseThree"
                                    aria-expanded="false" aria-controls="collapseThree">
                                Python MongoDB Tutorial using PyMongo
                            </button>
                        </h5>
                    </div>

                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                         data-parent="#accordionGuide-links">
                        <div class="card-body">
                            <div class="description">
                                <a target="_blank"
                                   href="https://www.youtube.com/watch?v=rE_bJl2GAY8">Link</a>
                                <p><strong>Description</strong><br></p>
                                <p>A YouTube tutorial on using PyMongo</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

{% endblock %}
