{% extends "base.html" %}
{% block title %}Programmer4 Archives{% endblock %}

{% block content %}
    <h1> Code Changes</h1>

    <h1>Progress Update</h1>

    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="pills-research-tab" data-toggle="pill" href="#pills-research" role="tab"
               aria-controls="pills-research" aria-selected="true">Research</a></li>
        <li class="nav-item">
            <a class="nav-link" id="pills-upload-research-tab" data-toggle="pill" href="#pills-upload-research"
               role="tab" aria-controls="pills-upload-research" aria-selected="false">File Upload Research</a></li>
        <li class="nav-item">
            <a class="nav-link" id="pills-virus-scanning-files-tab" data-toggle="pill" href="#pills-virus-scan"
               role="tab" aria-controls="pills-virus-scan" aria-selected="false">Virus Scanning Files</a></li>
        <li class="nav-item">
            <a class="nav-link" id="pills-mongo-tab" data-toggle="pill" href="#pills-mongo"
               role="tab" aria-controls="pills-mongo" aria-selected="false">Setting Data Expiry in MongoDB</a></li>
        <li class="nav-item">
            <a class="nav-link" id="pills-personal-project-tab" data-toggle="pill" href="#pills-personal-project"
               role="tab" aria-controls="pills-personal-project" aria-selected="false">Personal Project: Covid-19</a></li>
    </ul>

    <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-research" role="tabpanel" aria-labelledby="pills-research-tab">
            <hr/>
            <strong><a data-toggle="collapse" href="#data-analysis-techniques">Data Analysis Techniques</a></strong>
            <div id="data-analysis-techniques" class="collapse">
                <a target="_blank" href="https://careerfoundry.com/en/blog/data-analytics/data-analysis-techniques/">Link</a>
                <p>Quantative data – anything measurable usually numerical figures and quantities. Ex. Sales figures,
                    website visitors, and percents of revenue increase.<br>
                    Quantative data analysis techniques – focuses on statistical, mathematical, or numerical analysis.
                    Uses algorithms and computational techniques to explain patterns and make predictions<br>
                    Qualitative data – cannot be measured objectively and more open to interpretation. Qualitative data
                    can include comments on a survey, product reviews, and social media posts<br>
                    Qualitative data analysis techniques – makes sense of the unstructured data and is organized into
                    themes.<br>
                    Covers 7 most useful methods of data analysis:</p>
                <ul>
                    <li>Regression analysis – estimate how one or more variables might impact the dependent variable, in
                        order to identify trends and patterns. This is especially useful for making predictions and
                        forecasting future trends.
                    </li>
                    <li>Monte Carlo simulation - a computerized technique used to generate models of possible outcomes
                        and their probability distributions. It considers a range of possible outcomes and then
                        calculates how likely it is that each particular outcome will be realized. Used by data analysts
                        to conduct advanced risk analysis.
                    </li>
                    <li>Factor analysis - a technique used to reduce a large number of variables to a smaller number of
                        factors. It works on the basis that multiple separate, observable variables correlate with each
                        other because they are all associated with an underlying construct; this is called covariance.
                        This allows datasets to be compressed into smaller samples and uncover hidden patterns, like
                        concepts that aren’t easily measured.
                    </li>
                    <li>Cohort analysis – a technique that divides data that has common characteristics into related
                        groups for analysis. Often used to target more specific customer segments and personalized
                        experience.
                    </li>
                    <li>Cluster analysis – sorts different data points into groups that are similar to each other and
                        not similar to data points in another cluster. Seeks to find structures within the dataset
                    </li>
                    <li>Time series analysis – a sequence of data points which measure the same variable at different
                        points in time. Used to identify trends and cycles over time and allows analysts to forecast how
                        they may fluctuate in the future.
                    </li>
                    <li>Sentiment analysis – the process of sorting and understanding textual data to interpret and
                        classify the emotions conveyed within the textual data. This allows to gain a feeling of how
                        your customers satisfaction about the brand or service.
                    </li>
                </ul>
            </div>
            <br>

            <strong><a data-toggle="collapse" href="#hashing-python">Hashing Algorithms in Python</a></strong>
            <div id="hashing-python" class="collapse">
                <a target="_blank" href="https://docs.python.org/3/library/hashlib.html">Link</a>
                <p>Covers the following hashing library in Python called hashlib</p>
                <p>Types of hash algorithms included:</p>
                <ul>
                    <li>SHA1</li>
                    <li>SHA224</li>
                    <li>SHA256</li>
                    <li>SHA384</li>
                    <li>SHA512</li>
                    <li>MD5</li>
                </ul>

                <strong>Hashlib Properties</strong>
                <ul>
                    <li>algorithms_guaranteed - a set containing the list of algorithms that are supported by the module
                        on all platforms
                    </li>
                    <li>algorithms_available - a set of algorithms that are available in the running Python
                        interpreter.
                    </li>
                </ul>

                <strong>Hash Properties - Constants</strong>
                <ul>
                    <li>digest_size - the byte size of the hash result</li>
                    <li>block_size - the internal block size of the hash algorithm in bytes</li>
                </ul>

                <strong>Hash Properties - instance variables</strong>
                <ul>
                    <li>name - the canonical name of the hash in lowercase. Can be used with <i>new()</i> as a parameter
                        to make an instance of a hash of the corresponding type
                    </li>
                </ul>

                <strong>Hash Functions</strong>
                <ul>
                    <li>update(data) - updates the object with bytes-like object (ex: bytes, byte array, etc)</li>
                    <li>digest() - returns a digest of data passed to update() method. Acceptable range is 0 to 255</li>
                    <li>hexdigest() - similar to digest() except it returns a string only containing hexadecimal
                        digits
                    </li>
                    <li>copy() - makes a copy of the object</li>
                </ul>
            </div>
            <br>

            <strong><a data-toggle="collapse" href="#geomaps-with-python">PyCon - Finding a Home in Singapore Using a
                Data Driven Approach</a></strong>
            <div id="geomaps-with-python" class="collapse">
                <a target="_blank" href="https://www.youtube.com/watch?v=PInO2Cluu2E">Link</a>
                <p>A woman used open data to find an ideal home in Singapore<br><br>
                    99.co – property search portal, used to look up rental/Airbnb<br><br>
                    Even after entering search parameters, still faced with thousands of listings<br><br>
                    Problem: how do you choose best possible listing?<br><br>
                    First, looked at MRT station is cheapest to live around. Made a map visualization<br><br>
                    Used geolocation file of MRT map around Singapore. Data comes in both .shp and .dbf file types,
                    which are read by shapefile. Reader in Python to read the records<br><br>
                    Next, she checked how many shape objects are in the shape file, corresponds to the number of MRT
                    stations in Singapore. Then check the type of shapes in the shape file.<br><br>
                    Next, she prints the fields of the object. Prints out [variable name, the type of field as an
                    abbreviation, the max size of the field, number of decimal places (if applicable. If not, default
                    value is 0)]<br><br>
                    Next she iterates through the first 3 records, which prints out coordinates for the object, which is
                    a train station in Singapore, in latitude/longitude. Singapore has it’s own coordinate system which
                    she then converts the coordinates to, to get a more accurate location, within the city, using an SVY
                    package library in Python.<br><br>
                    Now that the coordinates are converted, she uses Basemap (another Python library to plot maps) to
                    plot the maps coordinates and draw the outline of the country, and add markers to the map. Then she
                    uses Folium, a Python package, to make the map. Next iterate through the list of coordinates and add
                    a marker for each record, and adds the name attribute as a pop-up for each coordinate.<br><br>
                    Next she computes the price per square foot around each station. To do this, she retrieves open
                    source data about housing and development prices. Problem is the data doesn’t contain coordinate
                    information; to compensate for this, she uses an API to submit an address, which returns the
                    coordinates. Now she uses GeoPy to compute the distances between addresses. She also filters out
                    coordinates that are more than 1km from the stations.<br>
                    She then iterates through the stations and uses pre-computed transactions over the past 3 months, 1
                    km from the stations, and normalizes them. If zero, the markers are color coded as white; otherwise,
                    she uses the 0-1 scale value to determine a hue based on the price. Blue for lowest cost and red for
                    highest. Finally, she adds a price to the marker.<br><br>
                    The result is that the prices in the central business districts are more expensive than elsewhere,
                    which is not surprising. But the rate at which the prices decline at a further rate closer to the
                    border at about x2 vs closer to the central business district x4. As a result, she was able to make
                    a data driven decision about where to live. <br><br>
                    The rest of the video is just her going over source code on both Github and jupyter. Also live
                    editing code to display visual changes to the map to the audience, like changing the marker shapes
                    and colors
                </p>
            </div>
            <br>

            <strong><a data-toggle="collapse" href="#download-csv-url">Downloading CSV from a URL in Python</a></strong>
            <div id="download-csv-url" class="collapse">
                <a target="_blank"
                   href="https://www.kite.com/python/answers/how-to-download-a-csv-file-from-a-url-in-python">Link</a>
                <br>Basic steps of downloading a csv file from URL:
                <ol>
                    <li>Use a GET request with the CSV url</li>
                    <li>Generate the content from the response</li>
                    <li>Open the the file using <i>wb</i> mode</li>
                    <li>Write the contents of the file to he desired location</li>
                    <li>Close the file</li>
                </ol>
            </div>
            <br>

            <strong><a data-toggle="collapse" href="#multiple-linear-regression">Multiple Linear Regression using
                Python</a></strong>
            <div id="multiple-linear-regression" class="collapse">
                <a target="_blank" href="https://www.youtube.com/watch?v=BETGdxOA1ss">Link</a>
                <br>Basic steps:
                <ol>
                    <li>Import the data</li>
                    <li>Check for data that has null values (NaN). If any records appear with null values, replace it
                        with constant(numerical value)
                    </li>
                    <li>Split data into coordinates; input values as <i>x</i> and output as <i>y</i>, as a numpy array
                    </li>
                    <li>Split the coordinates into random train and test subsets, using a percentage floating point
                        value that defines the subset to use
                    </li>
                    <li>Use model.score() using xTest and yTest values to calculate your accuracy percentage</li>
                    <li>Perform a linear regression on the object and perform a fit using the X and Y train values</li>
                    <li>Use model.predict() using the xTest to return an array of prediction values</li>
                    <li>Iterate through the array of test values and use the yTest values (at the current index) minus
                        the test value to get the margin of error
                    </li>
                </ol>
            </div>

        </div>
        <div class="tab-pane fade" id="pills-upload-research" role="tabpanel"
             aria-labelledby="pills-upload-research-tab">
            <h2>Uploading JSON Files</h2>
            <a target="_blank"
               href="https://www.freecodecamp.org/news/python-read-json-file-how-to-load-json-from-a-file-and-parse-dumps/">Link</a>
            <p>To read the contents of a JSON file, use the statement <i>import json</i> to use a Python library
                dedicated to JSON files. Use a <i>with</i> statement
                and the function <i>open(filename)</i> to open the JSON as a file. Then use <i>json.loads(myString)</i>
                to parse the data into a dictionary. From there,
                you can manipulate the data to create your own Python objects.</p>
        </div>
        <div class="tab-pane fade" id="pills-virus-scan" role="tabpanel" aria-labelledby="pills-virus-scan-tab">
            <h2>Virus Scanning Files</h2>
            <hr>


            <p>If your website allows users to upload files to a server, your server needs to be protected from any
                malicious hackers out there.
                There's no easy solution to implementing virus scanning protection on your website outside of purchasing
                your own virus scanning software. Fortunately, SharpAPIs provides a more cost effective solution.</p>

            <p>Free to use, <a target="_blank" href="https://app.sharpapis.com/#/login">sharpapis</a> allows you to send
                the file for a virus scan via a POST request and the response contains the result. However, the free
                plan only
                contains 100 free scans, which refresh every 21 days, but it can be upgraded to 1000, or more as needed
                for an added cost.</p>

            <p>

            <ol>
                <li>Sign up for an account and confirm your account using the email they send. Be sure to check your
                    Junk mail folder!
                </li>
                <li>Grab your X-ApplicationID and your X-Secret Key from your account and record them for later.</li>
                <br>
            </ol>

            <h3>Python version</h3>

            <ol start="3">
                <li>Install the request and json libraries</li>

                <pre class="command-line language-bash" data-user="root" data-host="localhost" tabindex="0">
            <code class="language-bash">
                <span class="command-line-prompt">
                    <span data-user="root" data-host="localhost"></span>
                    <span class="token builtin class-name">pip3</span> install request
                    <span class="token builtin class-name">pip3</span> install json
                </span>
            </code>
        </pre>
                <br>

                <li>Next I created a new script called <b>virusScanFile.py</b></li>

                <li>Create the url and the directory to fetch the file. Then, in the header of the request,
                    use the X-ApplicationID and X-SecretKey you wrote down earlier as strings in the header.
                </li>
                <pre>
                    <code class="language-javascript">
                        <script type="prism-python">
                import requests
                import json


                        # End point we're sending the request to
                        endpoint = "https://api.virusscannerapi.com/virusscan"

                        # Give the directory files will be sent to
                        filepath = "C:/Users/<YourName>/<directory>"

                        # create the request header with the ID and secret key from your account
                        headers = {
                        'X-ApplicationID': 'myFakeID',
                        'X-SecretKey': 'myFakeSecretKey'
                       }

                </script>
            </code>
        </pre>
                <br/>

                <li>Open the file using "rb" mode, define data and files using the filename and reading the file in.
                </li>
                <pre>
            <code class="language-javascript">
                <script type="prism-python">

                # open the file
                file = open(filepath + filename, "rb")

                # define as a synchronous process
                data = {
                'async': 'false',
                }

                # add the file to the array of files to send
                files = {
                'inputFile': ('\'' + filename + '\'', file.read())
                }

</script>
            </code>
        </pre>
                <br/>

                <li>Send as a POST request using the 4 parameters, and check the response for the result</li>
                <pre>
            <code class="language-javascript">
                <script type="prism-python">
                       # await the response using a POST request
                       r = requests.post(url=endpoint, data=data, headers=headers, files=files)

                       # convert the JSON response text into a dictionary
                       response = json.loads(r.text)

                       # Check the string for the status. Files without any issues will return "File is clean"
                       if response["status"] != "File is clean":
                       #do something
</script>
            </code>
        </pre>
                <br/>
            </ol>
            </p>
            <p>
            <h3>C# version</h3>
            <ol start="3">
                <li>Install the Newtonsoft.Json library from the NuGet Package Manager.</li>
                <li>Setup the function in your controller</li>
                <li>Create the url and the directory to fetch the file. Then, in the header of the request,
                    use the X-ApplicationID and X-SecretKey you wrote down earlier as strings in the header.
                </li>
                <pre>
            <code class="language-javascript">
                <script type="prism-python">
                    namespace MyProgram {
                        public class VirusScanResponse {
                            public int id { get; set; }
                            public string userId { get; set; }
                            public string fileName { get; set; }
                            public DateTime startedAt { get; set; }
                            public DateTime finishedAt { get; set; }
                            public string status { get; set; }
                            public string userIpAddress { get; set; }
                        }

                        public class MyController : BaseController {

                            public async Task<bool> VirusScanFile() {
                            await using (HttpClient client = new HttpClient())
                            {

                            // Adding authentication headers
                            client.DefaultRequestHeaders.Add("X-ApplicationID", "myFakeID");
                            client.DefaultRequestHeaders.Add("X-SecretKey", "myFakeSecretKey");
                </script>
            </code>
        </pre>
                <br/>
                <li>Open the file using "rb" mode, define data and files using the filename and reading the file in.
                </li>
                <pre>
            <code class="language-javascript">
                <script type="prism-python">
                            var filepath = @"C:/Users/<YourName>/<directory>";

                            using (var requestContent = new MultipartFormDataContent("Upload----" + DateTime.Now.ToString(CultureInfo.InvariantCulture)))
                            {
                            // Setting body parameters
                            requestContent.Add(new StringContent(filepath), "inputFile");
                            requestContent.Add(new StringContent("false"), "async");
                </script>
            </code>
        </pre>
                <br/>

                <li>Send as a POST request using the 4 parameters, and check the response for the result</li>
                <pre>
            <code class="language-javascript">
                <script type="prism-python">
                // Sending a POST request to DCA API
                using (var requestResultTask = await client.PostAsync("https://api.virusscannerapi.com/virusscan", requestContent))
                {
                    var result = await requestResultTask.content.ReadAsStringAsync();
                    var response = Newtonsoft.Json.JsonConvert.DeserializeObject<VirusScanResponse>(result);

                    if (response.status != "File is clean")
                    {
                        //do something
                    }
                </script>
            </code>
        </pre>
                <br/>
            </ol>

            <h4>Implementation notes: </h4>
            <ul>
                <li>Files need to be uploaded to the server first before they can be read and scanned, unless you are
                    sending a file from a URL.
                </li>
                <li>If the file size is over 50000KB, your request may return a response with a 400 series error because
                    there is too much content in the request.
                    You may want to consider scanning portions of the file instead of the whole thing at a time
                </li>
                <li>If you are reading directly from the file, the file content needs to be read as binary format before
                    being inserted into the request content.
                </li>
                <li>SharpApis also provides ways to get statuses from previous virus scans if you send the id of the
                    scan as a GET request. This is particularly useful for auditing
                    if you are storing all scans in a database and want to search on the status of a particular scan in
                    the future.
                </li>
            </ul>

            <a href="https://www.docconversionapi.com/blog/scan-file-virus-using-python/">Source</a>
            </p>
        </div>
        <div class="tab-pane fade" id="pills-mongo" role="tabpanel" aria-labelledby="pills-mongo-tab">

            <h2>Setting Data Expiry in MongoDB</h2>
            <hr>

            <p>Usually when data is inserted into a database, the data is generally considered persistent cause most cases
            the data is stored permanently in records. However, the drawback of this is storage and memory concerns, as memory isn't
            an infinite resource. For the Data2Int website, data that is uploaded by users doesn't persist for longer than 24hrs.</p>

            <p>I tried a couple different approaches to this as a developer. I first tried writing a scheduling task within the application,
            that would call a function at a scheduled time. </p>

            <pre>
            <code class="language-javascript">
                <script type="prism-python">
                    import schedule
                    import time

                    from pymongo import MongoClient, errors


                    # function to purge the Mongo DB of user uploaded data
                    def purge_data(db_host=27017, db_port='localhost'):

                    try:
                        # Establish database connection with MongoDB
                        connection = MongoClient(db_host, db_port)

                        # Store a list of database names at the current connection
                        dbs = connection.list_database_names()

                        # Loop through list of database names
                        for db_count, db in enumerate(dbs):

                        # Grab a list of collection names in the database
                        collections = connection[db].list_collection_names()

                        for col_count, col in enumerate(collections):
                        # Grab the collection's name at that index
                        collection_name = connection[db][col].name

                        # Skip over any collection named 'donorschoose'
                        if collection_name == 'donorschoose':
                            continue

                        # TODO: add checks for collections being used by website as static content

                        # drop the database at the index using each string in the list
                        connection[db].drop_collection(collection_name)

                        print("Purging data.")

                        connection.close()

                    except errors.ConnectionFailure as err:
                        client = None

                        print("Daily database purge cannot be completed:", err)

                        # schedule a task that will execute this function at midnight everyday
                        schedule.every().day.at("00:00").do(purge_data)

                        while True:
                        # Checks for a pending task to run
                        schedule.run_pending()
                        time.sleep(1)
                </script>
            </code>
        </pre>

            <p>However, the problem with this approach comes with trying to call this task within the application, as it needs
            to run on its own, rather than be triggered by a web page event. That was one of the main reasons this approach didn't work.</p>

            <p>After further research and reaching out online for help from others, I learned of TTL Indexes in MongoDB. "TTL indexes are special
            single-field indexes that MongoDB can use to automatically remove documents after a certain amount of time or specific clock time..." [1].
            A background thread in mongod runs every 60 seconds; it should be noted that data may persist beyond the 60 second mark depending on the speed
            of the background process.</p>

            <p>To specify the amount of time you want the data to last, use the <i>create_index</i> function and overload the <i>expiryAfterSeconds</i> property.
            You can manually specify the time by feeding this value as seconds.</p>

            <pre>
            <code class="language-javascript">
                <script type="prism-python">
                    from pymongo import MongoClient
                    import csv

                    connection = MongoClient(DB_HOST, DB_PORT)

                    collection = connection[DB_Name][COLLECTION_NAME]
                    csvFile = open(path_to_file + "/" + uploaded_file, 'r')
                    reader = csv.DictReader(csvFile)

                    collection.create_index("expire_date_time", expireAfterSeconds=seconds_until_end_of_day())
                    collection.insert_many(reader)

                    connection.close()
                </script>
            </code>
        </pre>

            <p>You can either pass a hardcoded value, like 86400 (the number of seconds in a day). If you need this to happen around a specified time,
            this is possible, but you would need to calculate the difference in time yourself. You can do this by using a function to return a timedelta,
            which is exactly the change in the time and using the datetime module in Python. The following example shows
            you how to calculate the difference in time with midnight in mind.</p>

            <pre>
            <code class="language-javascript">
                <script type="prism-python">
                from datetime import datetime, timedelta


                def seconds_until_end_of_day():
                    dt = datetime.utcnow()
                    tomorrow = dt + timedelta(days=1)
                    midnight = datetime(year=tomorrow.year, month=tomorrow.month,
                                        day=tomorrow.day, hour=0, minute=0, second=0)

                    return (midnight - datetime.utcnow()).seconds
                </script>
            </code>
        </pre>

            <p>This is just one of a few ways to calculate the time remaining, but it should be noted that using the
            UTC timezone value is considered best practice rather, than using the local datetime.</p>

            <p>Source:<a href="https://docs.mongodb.com/manual/core/index-ttl">[1] TTL Indexes</a></p>
        </div>
    <div class="tab-pane fade" id="pills-personal-project" role="tabpanel" aria-labelledby="pills-personal-project-tab">
        <h2>Personal Project: Covid-19</h2>
        <hr>

        <h3>Preface</h3>

        <p>The purpose of this project will be to analyze Covid-19 trends within the past year and a half, with a focus on trends in Ontario,
        and a small comparison between other Canadian provinces. Topics of interest that I will cover are ICU admissions due to Covid-19 in Ontario,
        vaccination rates across Ontario, case count comparisons between Ontario and other provinces, etc. These visualizations will be used to uncover
        persisting trends and give an overall analysis of how Ontario has fared the pandemic up to this point.</p>

        <style>
        path {
            stroke: steelblue;
            stroke-width: 2;
            fill: none;
        }
        .axis path,
        .axis line {
            fill: none;
            stroke: grey;
            stroke-width: 1;
            shape-rendering: crispEdges;
        }

        .legend {
            font-size: 16px;
            font-weight: bold;
            text-anchor: middle;
        }
        </style>

        <h4>Visualizing the Data</h4>
        <div id="charts">
            <!-- load the d3.js library -->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>
            <script src="/static/js/markCovidGraphs.js"></script>
        </div>

        <small><b>Data Sources: </b><br/>
            Figure 1 and 2: <a target="_blank" href="https://data.ontario.ca/dataset/status-of-covid-19-cases-in-ontario/resource/ed270bb8-340b-41f9-a7c6-e8ef587e6d11">
                Status of COVID-19 cases in Ontario</a><br/>
            Figure 3: <a target="_blank" href="https://health-infobase.canada.ca/covid-19/">Areas in Canada with cases of COVID-19 as of November 29, 2021</a><br/>
            Figure 4: <a target="_blank" href="https://data.ontario.ca/dataset/covid-19-vaccine-data-in-ontario/resource/8a89caa9-511c-4568-af89-7f2174b4378c">Ontario COVID-19 Vaccine data</a><br/>
        </small>

        <h4><br/>Analyzing the Data</h4>
        <p>Figure 1 is a line graph displaying how many patients which are being admitted to the ICU due to Covid-19
            across the province. The relationship between the data in this graph shows the fluctuation in admissions
            over time since the pandemic began. It’s important to note that this metric was only starting to be tracked
            as of May 2020, which explains the sharp increase in admissions from 0 in March and April 2020 to ~250 case
            spike in May 2020. Largely through 2020, Ontario was able to keep the ICU admissions under control, until
            about December 2020, when cases began to sharply increase and continued to do so into the beginning of 2021.
            This spike can be attributed to gatherings over the Christmas and New Years holidays, as well as low uptake
            of the vaccine at the time due to limited supplies available at the time. This spike in ICU counts can be
            correlated with the stats in Figure 2, which also shows a sharp increase in ICU admissions due to Covid-19
            beginning in December 2020  and by January 2, 2021, Ontario reported 3,363 new COVID-19 cases, "the most in
            one day since the pandemic began." [1]</p>

        <p>In early 2021, the province endured an even worse time keeping case counts and ICU admissions under control. The
            province had enforced its 2nd strict province-wide lockdown, by December 26, 2020, which had been escalated
            to a stay-at-home order by January 14, 2021.[1] By mid-February, the province had made a rash decision to lift the
            stay-at-home order in most PHUs and reopen the province, despite many warnings from top health officials.
            However, vaccine supply was still limited to mainly seniors and LTC residents. As well, the Alpha variant
            was beginning to spread rapidly in areas that were open. "The combination of that optimism from a successful
            lockdown leading to governments wanting to reopen and the background of these variants of concern emerging,
            plus, delays in the vaccine arrival is setting up really this perfect storm for a massive third wave,”
            said Dr. Brooks Fallis, a critical care physician in Toronto".[2] This forced the province to enact it’s third
            province-wide lockdown and stay-at-home order which was in effect from April 3, 2021 to mid-June 2021. Palin
            writes, with reference to Wave 2, "Restrictions were lifted too early, and some provincial governments failed
            to bring in policies like paid sick leave that would suppress workplace outbreaks."[3] By late April, ICU
            admissions spiked to ~900 patients being admitted to the ICU. Figure 2, shows a sharp increase from about 300,000
            total cases at the start of 2021 to over 500,000 cases by April 2021.</p>

        <p>Thankfully with a combination of stringent public health measures and increased vaccine availability. The
            cases finally began to start plummeting around May 2021, and by July 2021, "over 77 per cent of the population
            in Ontario ages 12 and over have received one dose of a COVID-19 vaccine and over 50 per cent have received a second dose"[4],
            and the ICU steadily declining, the province entered Stage 3 of Reopening. Figure 4 shows the rate of vaccination Ontario
            with both first and second doses. We largely see the curve stay flat until about late April, which is when key demographics,
            like 40 and older were eligible for the increased supply of vaccines available. This also correlates to how sharply the ICU
            admissions due to Covid-19 start to plummet in early May, as seen in Figure 1, because that's how long it takes for a person to gain
            immunity from a first dose of either mRNA vaccine, "which takes 2 weeks after vaccination for the body to build protection (immunity)
            against the virus." [5]</p>

        <p>In Figure 2, since May 2021, we’ve seen a relatively flattening of new Covid-19 case counts in Ontario,
            seeing only about an increase of about 100,000 cases over the past 6 months compared to over to about a 200,000
            increase in reported cases, between April and June. This can largely be attributed to the rapid vaccine uptake in the province,
            as well as the vaccines being more widely available since then. While the first year of the pandemic (March 2020 to April 2021)
            sees the relationship between case counts and ICU admissions to Covid-19 as closely linked, adding vaccines to the equation seems to have largely
            decoupled this relationship so far. Ontario saw a small increase in cases from August to October, due to the
            circulation of the more transmissible Delta variant, but the province has since remained open with ICU admissions being significantly
            lowered, compared to the spike in Wave 3, during Spring 2021.</p>

        <p>Figure 3 shows a comparison of total Covid-19 cases to date across all provinces, as well as the Canadian
            population as a whole. Looking objectively, Ontario is the clear leader to this point for Covid-19 cases;
            there are several reasons for potentially for this:</p>

        <ol>
            <li>Ontario has the highest population per of any province or territory in Canada at 14,759,431 as of the
                beginning of 2021, behind Quebec with a population of 8,579,370 people. This results in more cases in
                general as well as more lengthy vaccine rollout to the general population. [6]</li>
            <li>For most of the pandemic, the Conservative government offered little support to ailing business and
                individuals struggling financially, such as no paid-sick leave for those needing to isolate,
                in the middle of the third provincial lockdown. After a year of pandemic and calls from both opposition
                government and top medical officials, the Ford government re-instituted 3 paid sick days, which "pays up
                to $200 per day for workers taking time off due to being sick, displaying Covid-19 symptoms, need
                vaccination, or experiencing mental health issues. [7]</li>
            <li>The Ontario vaccine rollout program prioritized individuals by age for eligibility for the vaccine
                at a staggered pace. The reasoning for not moving to essential workers immediately was justified by
                "that most COVID-19 hospitalizations and deaths involve people over 50". [8] However, with the introduction
                of more transmissible variants like Alpha and Delta, the program overlooked populations that were at
                higher risk of contracting the virus, like public facing workers. By choosing this strategy,
                this decision drove community spread more than it should’ve.</li>
        </ol>

        <p>However, Ontario and Quebec follow largely similar trajectories, being the highest populated provinces as well
            as being geographic neighbors. While they do have a slightly lower total count, it’s clear that the provinces
            with the highest populations were hit the hardest by the pandemic in general.</p>

        <h4>Conclusion</h4>

        <p> While Ontario did have a rocky start to 2021 managing the virus, the province has rebounded from the third wave,
            keeping the province open and limiting new public health restrictions, other than the implementation of proof of vaccination.
            However, with many of the population either past or approaching the 6 month mark past an individual’s 2nd dose of Covid-19 vaccine,
            t will be interesting to see if the waning immunity will contribute to another large spike in ICU admissions.
            As well, the discovery of a new variant of concern recently by the WHO, labelled Omicron, on November 26, 2021,[9] it is very difficult to
            predict the future of this pandemic and how long the human race has until the virus can be considered endemic.
            Overall, Ontario has been the hardest hit province by the pandemic. While there have been questionable decisions
            made which did heavily impact this trajectory, like prematurely lifting the 2nd stay-at-home order before vaccine
            uptake was well underway in the population, the leaders have done a good job of shifting strategies and
            keeping both the ICU admissions and case counts to a manageable level up to this point.</p>

        <small><b>Sources: </b><br/>
             [1] Global News <a target="_blank" href="https://globalnews.ca/news/6859636/ontario-coronavirus-timeline/">
                A timeline of COVID-19 in Ontario</a><br/>
             [2] Global News <a target="_blank" href="https://globalnews.ca/news/7641757/canada-coronavirus-third-wave-explainer/">
                ‘Perfect storm’: Is Canada headed for a third wave of COVID-19?</a><br/>
             [3] CBC News Canada <a target="_blank" href="https://www.cbc.ca/news/canada/canadas-inevitable-third-wave-ontario-alberta-1.6008176">
                Why warnings of a deadly 3rd wave in Canada may have gone unheeded</a><br/>
             [4] Ontario Newsroom <a target="_blank" href="https://news.ontario.ca/en/release/1000501/ontario-moving-to-step-three-of-roadmap-to-reopen-on-july-16">
                Ontario Moving to Step Three of Roadmap to Reopen on July 16</a><br/>
             [5] Centres for Disease Control and Prevention <a target="_blank" href="https://www.cdc.gov/coronavirus/2019-ncov/vaccines/keythingstoknow.html">
                Key Things to Know About COVID-19 Vaccines</a><br/>
             [6] Statistics Canada<a target="_blank" href="https://www150.statcan.gc.ca/t1/tbl1/en/tv.action?pid=1710000901">
                Table 17-10-0009-01  Population estimates, quarterly</a><br/>
             [7] CBC News Toronto <a target="_blank" href="https://www.cbc.ca/news/canada/toronto/ontario-paid-sick-leave-covid-19-april-28-2021-1.6005192">
                Ontario details plan for 3 paid sick days after a year of mounting pressure</a><br/>
             [8] CBC News Ottawa <a target="_blank" href="https://www.cbc.ca/news/canada/ottawa/ottawa-gatineau-covid19-vaccines-april22-1.5988537">
                The Ottawa area's weekly COVID-19 vaccine checkup: April 22</a><br/>
             [9] World Economic Forum <a target="_blank" href="https://www.weforum.org/agenda/2021/11/omicron-covid-19-variant-everything-we-know-so-far/">
                Everything we know so far about the Omicron COVID-19 variant</a><br/>
        </small>

        <h5><br/>How I Did It:</h5>

        <ol>
            <li>After doing researching and finding appropriate datasets, I extracted the columns of data I needed to separate .csv files,
            since you can't read from the same file at separate points.</li>
            <li>Below is the the D3.js script I used to generate the four graphs:</li>
        </ol>

        <pre>
            <code class="language-javascript">
                <script type="prism-python">
// Set the dimensions of the canvas / graph
var	margin = {top: 30, right: 20, bottom: 30, left: 70},
	width = 800 - margin.left - margin.right,
	height = 440 - margin.top - margin.bottom;

// Parse the date / time
var	parseDate = d3.time.format("%Y-%m-%d").parse;

var parseDateTime = d3.time.format("%Y-%m-%dT%H:%M:%S").parse;

// Set the ranges
var	x = d3.time.scale().range([0, width]);
var	y = d3.scale.linear().range([height, 0]);

// Define the axes
var	xAxis = d3.svg.axis().scale(x)
	.orient("bottom").ticks(5);

var	yAxis = d3.svg.axis().scale(y)
	.orient("left").ticks(8);

// Define the line
var	valueline = d3.svg.line()
	.x(function(d) { return x(d.Reported_Date); })
	.y(function(d) { return y(d.Total_ICU_Covid_19); });

var valueline2 = d3.svg.line()
	.x(function(d) { return x(d.Reported_Date); })
	.y(function(d) { return y(d.Total_Cases); })

var valueline3 = d3.svg.line()
	.x(function(d) { return x(d.date); })
	.y(function(d) { return y(d.numconf); })

var oneDoseVaccinatedLine = d3.svg.line()
	.x(function(d) { return x(d.report_date); })
	.y(function(d) { return y(d.total_individuals_at_least_one); })

var twoDosesVaccinatedLine = d3.svg.line()
	.x(function(d) { return x(d.report_date); })
	.y(function(d) { return y(d.total_individuals_fully_vaccinated); })

// Adds the svg canvas
var	chart1 = d3.select("#charts")
	.append("svg")
		.attr("width", width + margin.left + margin.right)
		.attr("height", height + margin.top + margin.bottom)
	.append("g")
		.attr("transform", "translate(" + margin.left + "," + margin.top + ")");

// Get the data
d3.csv("/static/js/datasources/ontarioicucovid.csv", function(error, data) {
	data.forEach(function(d) {
		d.Reported_Date = parseDate(d.Reported_Date);
		d.Total_ICU_Covid_19 = +d.Total_ICU_Covid_19;
	});

	// Scale the range of the data
	x.domain(d3.extent(data, function(d) { return d.Reported_Date; }));
	y.domain([0, d3.max(data, function(d) { return d.Total_ICU_Covid_19; })]);

	// Add the valueline path.
	chart1.append("path")
		.attr("class", "line")
		.attr("d", valueline(data));

	// Add the X Axis
	chart1.append("g")
		.attr("class", "x axis")
		.attr("transform", "translate(0," + height + ")")
		.call(xAxis);

	// Add the Y Axis
	chart1.append("g")
		.attr("class", "y axis")
		.call(yAxis);

	chart1.append("text")
        .attr("x", (width / 2))
        .attr("y", 0 - (margin.top / 2))
        .attr("text-anchor", "middle")
        .style("font-size", "16px")
        .style("text-decoration", "underline")
        .text("Figure 1: Ontario ICU Admissions Due to Covid-19");

	  // text label for the y axis
  	chart1.append("text")
      .attr("transform", "rotate(-90)")
      .attr("y", 0 - margin.left)
      .attr("x",0 - (height / 2))
      .attr("dy", "1em")
      .style("text-anchor", "middle")
      .text("ICU Count");

});

// Adds the svg canvas
var	chart2 = d3.select("#charts")
	.append("svg")
		.attr("width", width + margin.left + margin.right)
		.attr("height", height + margin.top + margin.bottom)
	.append("g")
		.attr("transform", "translate(" + (margin.left + 50) + "," + margin.top + ")");


// Get the data
d3.csv("/static/js/datasources/totalcases.csv", function(error, data) {
	data.forEach(function(d) {
		d.Reported_Date= parseDate(d.Reported_Date);
		d.Total_Cases = +d.Total_Cases;
	});

	// Scale the range of the data
	x.domain(d3.extent(data, function(d) { return d.Reported_Date; }));
	y.domain([0, d3.max(data, function(d) { return d.Total_Cases; })]);

	// Add the valueline path.
	chart2.append("path")
		.attr("class", "line")
		.attr("d", valueline2(data));

	// Add the X Axis
	chart2.append("g")
		.attr("class", "x axis")
		.attr("transform", "translate(0," + height + ")")
		.call(xAxis);

	// Add the Y Axis
	chart2.append("g")
		.attr("class", "y axis")
		.call(yAxis);

	chart2.append("text")
        .attr("x", (width / 2))
        .attr("y", 0 - (margin.top / 2))
        .attr("text-anchor", "middle")
        .style("font-size", "16px")
        .style("text-decoration", "underline")
        .text("Figure 2: Total Covid-19 Cases in Ontario");

	// text label for the y axis
  	chart2.append("text")
      .attr("transform", "rotate(-90)")
      .attr("y", 0 - (margin.left+30))
      .attr("x",0 - (height / 2))
      .attr("dy", "1em")
      .style("text-anchor", "middle")
      .text("Case Count");
});

// Set the dimensions of the canvas / graph
var	chart3margin = {top: 30, right: 120, bottom: 30, left: 70},
	chart3width = 800 - chart3margin.left - chart3margin.right,
	chart3height = 440 - chart3margin.top - chart3margin.bottom;

// Set the ranges
x = d3.time.scale().range([0, chart3width]);
y = d3.scale.linear().range([chart3height, 0]);

// Define the axes
var xAxis = d3.svg.axis().scale(x)
    .orient("bottom").ticks(5);

var yAxis = d3.svg.axis().scale(y)
    .orient("left").ticks(8);

// Define the line
var caseline = d3.svg.line()
    .x(function(d) { return x(d.date); })
    .y(function(d) { return y(d.numconf); });

// Adds the svg canvas
var chart3 = d3.select("#charts")
    .append("svg")
        .attr("width", chart3width + chart3margin.left + chart3margin.right + 100 )
        .attr("height", chart3height + chart3margin.top + chart3margin.bottom)
    .append("g")
        .attr("transform",
              "translate(" + (chart3margin.left + 30) +"," + chart3margin.top + ")");

chart3.selectAll("svg").attr("id", function(d,i) { return i; });

// Get the data
d3.csv("/static/js/datasources/canadaconfirmedcases.csv", function(error, data) {
    data.forEach(function(d) {
		d.date = parseDate(d.date);
		d.numconf = +d.numconf;
    });

    // Scale the range of the data
    x.domain(d3.extent(data, function(d) { return d.date; }));
    y.domain([0, d3.max(data, function(d) { return d.numconf; })]);

    // Nest the entries by symbol
    var dataNest = d3.nest()
        .key(function(d) {return d.prname;})
        .entries(data);

    var color = d3.scale.category20b();   // set the colour scale

    var legendSpace = chart3width / dataNest.length; // spacing for legend

    // Loop through each symbol / key
    dataNest.forEach(function(d,i) {

        chart3.append("path")
            .attr("class", "line")
            .style("stroke", function() { // Add the colours dynamically
                return d.color = color(d.key); })
            .attr("d", caseline(d.values));

        // Add the Legend
        chart3.append("text")
            .attr("x", 700) // spacing
            .attr("y", i*(legendSpace/2))
            .attr("class", "legend")    // style the legend
            .style("fill", function() { // dynamic colours
                return d.color = color(d.key); })
            .text(d.key);

    });

    // Add the X Axis
    chart3.append("g")
        .attr("class", "x axis")
        .attr("transform", "translate(0," + chart3height + ")")
        .call(xAxis);

    // Add the Y Axis
    chart3.append("g")
        .attr("class", "y axis")
        .call(yAxis);

    chart3.append("text")
        .attr("x", (chart3width / 2))
        .attr("y", 0 - (chart3margin.top / 2))
        .attr("text-anchor", "middle")
        .style("font-size", "16px")
        .style("text-decoration", "underline")
        .text("Figure 3: Covid-19 Cases Across Canada and All Provinces");


	  // text label for the y axis
  	chart3.append("text")
      .attr("transform", "rotate(-90)")
      .attr("y", 0 - (chart3margin.left + 30))
      .attr("x",0 - (chart3height / 2))
      .attr("dy", "1em")
      .style("text-anchor", "middle")
      .text("Covid-19 Case Counts");

});
// Define the axes
var	xAxis = d3.svg.axis().scale(x)
	.orient("bottom").ticks(5);

var	yAxis = d3.svg.axis().scale(y)
	.orient("left").ticks(8);

// Adds the svg canvas
var	chart4 = d3.select("#charts")
	.append("svg")
		.attr("width", width + margin.left + margin.right)
		.attr("height", height + margin.top + margin.bottom)
	.append("g")
		.attr("transform", "translate(" + (margin.left + 50) + "," + margin.top + ")");


// Get the data
d3.csv("/static/js/datasources/covid_vaccine_doses_stats.csv", function(error, data) {
	data.forEach(function(d) {
		d.report_date = parseDateTime(d.report_date);
		d.total_individuals_at_least_one = +d.total_individuals_at_least_one;
		d.total_individuals_fully_vaccinated = +d.total_individuals_fully_vaccinated;
	});

	// Scale the range of the data
	x.domain(d3.extent(data, function(d) { return d.report_date; }));
	y.domain([0, d3.max(data, function(d) { return d.total_individuals_at_least_one; })],
		[0, d3.max(data, function(d) { return d.total_individuals_fully_vaccinated; })]);

	// Add the valueline path.
	chart4.append("path")
		.attr("class", "line")
		.attr("d", oneDoseVaccinatedLine(data));

	chart4.append("path")
		.attr("class", "line")
		.style("stroke", "red")
		.attr("d", twoDosesVaccinatedLine(data))

	// Add the Legend
	chart4.append("text")
            .attr("x", 240) // spacing
            .attr("y", 100)
            .attr("class", "legend")    // style the legend
            .style("fill", "steelblue")
            .text("First Doses");

	// Add the Legend
	chart4.append("text")
            .attr("x", 410) // spacing
            .attr("y", 200)
            .attr("class", "legend")    // style the legend
            .style("fill", "red")
            .text("Second Doses");

	// Add the X Axis
	chart4.append("g")
		.attr("class", "x axis")
		.attr("transform", "translate(0," + height + ")")
		.call(xAxis);

	// Add the Y Axis
	chart4.append("g")
		.attr("class", "y axis")
		.call(yAxis);

	chart4.append("text")
        .attr("x", (width / 2))
        .attr("y", 0 - (margin.top / 2))
        .attr("text-anchor", "middle")
        .style("font-size", "16px")
        .style("text-decoration", "underline")
        .text("Figure 4: Vaccination Rates in Ontario");

	// text label for the y axis
  	chart4.append("text")
      .attr("transform", "rotate(-90)")
      .attr("y", 0 - (margin.left+50))
      .attr("x",0 - (height / 2))
      .attr("dy", "1em")
      .style("text-anchor", "middle")
      .text("Doses administered");
});


                        </script>
                    </code>
                </pre>
        <ol start="3">
            <li>I then added this HTML to my programmer page which d3 generates to through my script. Note that you can use
                script tags to contain the JavaScript directly in the HTML. I put it in a separate .js file to make debugging easier
                and as a personal decision.</li>
        </ol>

    <pre>
        <code  class="language-javascript">
            <script type="prism-html-markup">

                    <style>
                    path {
                    stroke: steelblue;
                    stroke-width: 2;
                    fill: none;
                    }

                    .axis path,

                    .axis line {
                    fill: none;
                    stroke: grey;
                    stroke-width: 1;
                    shape-rendering: crispEdges;
                    }

                    .legend {
                    font-size: 16px;
                    font-weight: bold;
                    text-anchor: middle;
                    }
                    </style>


                  <div id="charts">
                        <script src="https://d3js.org/d3.v4.min.js">< /script>
                        <script src="/static/js/markCovidGraphs.js">< /script>
                  </div>
            </script>
        </code>
    </pre>


    </div>

    </div>



{% endblock %}
