{% extends "base.html" %}
{% block title %}Programmmer4 Archives{% endblock%}

{% block content %}
<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">

    <li class="nav-item">
        <a class="nav-link" id="pills-upload-research-tab" data-toggle="pill" href="#pills-upload-research" role="tab" aria-controls="pills-upload-research" aria-selected="false">File Upload Research</a>
    </li>
</ul>



     <div class="tab-pane fade" id="pills-upload-research" role="tabpanel" aria-labelledby="pills-upload-research-tab">
        <h2>Uploading Excel Files</h2>
        <p>How to Import an Excel File into Python using Pandas</p>
         <p><a href="https://datatofish.com/read_excel/">Link</a></p></br>


    </div>

</div>
































{% endblock %}
