{% extends "base.html" %}
{% block title %}Scatter Plots{% endblock %}

{% block content %}

    <h1>Scatter Plots</h1>

    <hr>

    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="pills-description-tab" data-toggle="pill" href="#pills-description"
               role="tab"
               aria-controls="pills-description" aria-selected="false">Description</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="pills-links-tab" data-toggle="pill" href="#pills-links"
               role="tab"
               aria-controls="pills-links" aria-selected="false">Links</a>
        </li>
    </ul>

    <hr>


    <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-description" role="tabpanel"
             aria-labelledby="pills-description-tab">
            <img src="/templates/resources/scatterplot.png" alt="scatterplot" align="right">

            <p>A scatter plot (aka scatter chart, scatter graph) uses dots to represent values for two different numeric
                variables. The position of each dot on the horizontal and vertical axis indicates values for an
                individual
                data point. Scatter plots are used to observe relationships between variables.</p>

            <p>A scatter plot's primary use is to observe and show relationships between two numeric variables. The dots
                in a
                scatter
                plot not only report the values of individual data points, but also patterns when the data are taken as
                a
                whole.</p>

            <img src="/templates/resources/scatterplot.gif" alt="scatterplot with a line of best fit">
            <p>A common best practice with scatter plots is to make use of a trend line when looking at predictive or
                correlational relationship between variables. It is common to add a trend line to the plot showing the
                mathematically best fit to the data; this can provide an additional signal as to how strong the
                relationship
                between the two variables is, and if there are any unusual points that are affecting the computation of
                the
                trend line.</p>
        </div>
    <div class="tab-pane fade" id="pills-links" role="tabpanel" aria-labelledby="pills-links-tab">

        <div class="accordion" id="accordionGuide-links">

                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                                    aria-expanded="false" aria-controls="collapseOne">
                                Coefficient of Variation Formula - The Concept & Applications
                            </button>
                        </h5>
                    </div>

                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne"
                         data-parent="#accordionGuide-links">
                        <div class="card-body">
                            <div class="description">
                                <a target="_blank"
                                   href="https://www.digitalvidya.com/blog/coefficient-of-variation-formula/">Link</a>
                                <p><strong>Description</strong><br></p>
                                <p>An article that gives an explanation on how and why COV is used in statistics.</p>
                            </div>
                        </div>
                    </div>
                </div>

            <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h5 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseTwo"
                                    aria-expanded="false" aria-controls="collapseTwo">
                                Investopedia - Coefficient of Variance
                            </button>
                        </h5>
                    </div>

                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                         data-parent="#accordionGuide-links">
                        <div class="card-body">
                            <div class="description">
                                <a target="_blank"
                                   href="https://www.investopedia.com/terms/c/coefficientofvariation.asp">Link</a>
                                <p><strong>Description</strong><br></p>
                                <p>An article on coefficient of variance and how it relates to business analysis</p>
                            </div>
                        </div>
                    </div>
                </div>

        </div>
    </div>

    </div>




{% endblock %}