{% extends "base.html" %}
{% block title %}Sample Project{% endblock%}

{% block content %}


<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="pills-pycharm-tab" data-toggle="pill" href="#pills-pycharm" role="tab"
           aria-controls="pills-pycharm" aria-selected="false">SEM</a>
    </li>
</ul>

<div class="tab-pane fade show active" id="pills-pycharm" role="tabpanel" aria-labelledby="pills-pycharm-tab">
        <hr/>

        <div class="accordion" id="accordionGuide">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                                aria-expanded="true" aria-controls="collapseOne">
                            What is SEM?
                        </button>
                    </h5>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionGuide">
                    <div class="card-body">
                        <div class="description">
                            <p> Structural Equation Modeling (SEM)</p><br>
                            <p> Structural Equation Modeling (SEM)is quantitative research technique that can also incorporates qualitative methods. SEM is used to show the causal relationships between variables. The relationships shown in SEM represent the hypotheses of the researchers. Typically, these relationships can't be statistically tested for directionality.   </p><br>
                            <p> SEM is mostly used for research that is designed to confirm a research study design rather than to explore or explain a phenomenon. That is to say that a researcher may be interested in the strength of the relationships between variables in a hypothesis, and SEM is a way to examine those variables without committing to an expensive research project. SEM produces data in a visual display -- and this is part of its appeal. When using SEM, the researcher gets a tidy visual display that is easy to interpret, even if the statistics behind the data are quite complex.</p><br>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    <div class="card">
                <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            What Is Meant by Cross-Sectional Variation?
                        </button>
                    </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="guide">

                            <p> Cross-sectional variation is the variation across the respondents who are part of a research study. </p><br>
                            <p> SEM is designed to look at complex relationships between variables and to reduce the relationships to visual representations. A research design can be described in terms of the design structure and the measurements that are conducted in the research. These structural and measurement relationships are the basis for a hypothesis. And when using SEM, the research design can be modeled by computer. The relationships that are displayed in SEM modeling are determined by data arranged in a matrix. SEM uses cross-sectional variation to do the modeling that yields the conclusions.</p><br>

                    </div>
                </div>
            </div>
        </div>


    <div class="card">
                <div class="card-header" id="headingThree">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Where Did the Idea of Path Analysis Come From?
                        </button>
                    </h5>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="guide">

                            <p> SEM is a cross-sectional statistical modeling technique that has its origins in econometric analysis. Econometric means the field of economics, and the mathematics that are used in economics to describe the relationships among different conditions and variables that affect the economy. </p><br>
                            <p> SEM is a combination of factor analysis and multiple regression. The terms factor and variable refer to the same concept in statistics.</p><br>
                            <p> Path Analysis is a variation of SEM, which is a type of multivariate procedure that allows a researcher to examine the independent variables and dependent variables in a research design.</p><br>

                            <li> Variables can be continuous or discrete.</li><br>
                            <li> SEM works with measured variables and latent variables.</li><br>
                            <li> Path Analysis uses measured values only.</li><br>
                            <li> Measured variables can be observed and are measurable.</li><br>
                            <li> Latent variables cannot be observed directly, but their values can be implied by their relationships to observed variables.</li><br>
                            <li> Two or more measured variables are necessary to determine a value for a latent variable.</li><br>
                    </div>
                </div>
            </div>
        </div>


    <div class="card">
                <div class="card-header" id="headingFour">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            Define the theme
                        </button>
                    </h5>
                </div>
                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="guide">

                            <p> SEM has two basic parts: A measurement model and a structural model.</p><br>
                            <p> The relationships between the variables (both measured and latent) are shown in the measurement model. Only the relationships between the latent variables are shown in the structural model.</p><br>
                            <p> One important benefit of using latent variables is that they are free of random error. The error associated with the latent variables is statistically estimated and removed in the SEM analysis. Only a common variance remains. Tidy.</p><br>

                    </div>
                </div>
            </div>
        </div>


    <div class="card">
                <div class="card-header" id="headingFive">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                            Define the theme
                        </button>
                    </h5>
                </div>
                <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="guide">

                            <p> A SEM is constructed through five discrete steps. They are as follows:</p><br>
                            <li> Specify the Model</li><br>
                            <li> Identify the Model</li><br>
                            <li> Estimate the Model</li><br>
                            <li> Test the Model Fit</li><br>
                            <li> Manipulate the Model</li><br>
                            <p> When first learning about Structured Equation Modeling, it is helpful to consider each of these steps individually. Not independently, but just one at a time.</p><br>

                    </div>
                </div>
            </div>
        </div>




{% endblock %}