{% extends "base.html" %}
{% block title %}Sample Project{% endblock%}

{% block content %}


<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="pills-pycharm-tab" data-toggle="pill" href="#pills-pycharm" role="tab"
           aria-controls="pills-pycharm" aria-selected="false">Social Media</a>
    </li>
</ul>


<div class="tab-pane fade show active" id="pills-pycharm" role="tabpanel" aria-labelledby="pills-pycharm-tab">
    <hr/>

    <div class="accordion" id="accordionGuide">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                            aria-expanded="true" aria-controls="collapseOne">
                        An overview of social media analytics
                    </button>
                </h5>
            </div>

             <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionGuide">
                <div class="card-body">
                    <div class="description">

                        <p> Practitioners and analysts alike know social media by its many websites and channels:
                            Facebook, YouTube, Instagram, Twitter, LinkedIn, Reddit and many others.<br></p>
                        <p> Social media analytics is the ability to gather and find meaning in data gathered from
                            social channels to support business decisions —
                            and measure the performance of actions based on those decisions through social media.</p>
                        <p> Social media analytics is broader than metrics such as likes, follows, retweets,
                            previews, clicks, and impressions gathered from individual channels. It also differs from reporting offered by
                            services that support marketing campaigns such as LinkedIn or Google Analytics.</p><br>
                        <p> Social media analytics uses specifically designed software platforms that work
                            similarly to web search tools. Data about keywords or topics is retrieved through search queries or web ‘crawlers’ that span channels. Fragments of text are returned, loaded into a database,
                            categorized and analyzed to derive meaningful insights.</p><br>
                        <p> Social media analytics includes the concept of social listening.
                            Listening is monitoring social channels for problems and opportunities. Social media analytics tools typically incorporate listening
                            into more comprehensive reporting that involves listening and performance analysis.</p><br>

                    </div>
                </div>
            </div>
        </div>


         <div class="card">
                <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                           Why is social media analytics important?
                        </button>
                    </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="guide">

                            <p> IBM points out that with the prevalence of social media:
                                “News of a great product can spread like wildfire. And news about a bad product — or a bad experience with a customer service rep — can spread just as quickly. Consumers are now holding organizations to account for their brand promises and sharing
                                their experiences with friends, co-workers and the public at large.”</p><br>
                            <p> Social media analytics helps companies address these experiences and use them to:</p><br>
                            <li> Spot trends related to offerings and brands</li><br>
                            <li> Understand conversations — what is being said and how it is being received</li><br>
                            <li> Derive customer sentiment towards products and services</li><br>
                            <li> Gauge response to social media and other communications</li><br>
                            <li> Identify high-value features for a product or service</li><br>
                            <li> Uncover what competitors are saying and its effectiveness</li><br>
                            <li> Map how third-party partners and channels may affect performance</li><br>

                            <p> These insights can be used to not only make tactical adjustments,
                                like addressing an angry tweet, they can help drive strategic decisions.
                                In fact, IBM finds social media analytics is now “being brought into
                                the core discussions about how businesses develop their strategies.”</p><br>
                            <p> These strategies affect a range of business activity:</p><br>
                            <li> <strong> Product development - </strong>Analyzing an aggregate of Facebook posts,
                                tweets and Amazon product reviews can deliver a clearer picture of customer pain points, shifting needs and desired features. Trends can be identified and tracked to shape the management
                                of existing product lines as well as guide new product development.</li><br>
                            <li> <strong> Customer experience - </strong>An IBM study discovered “organizations are evolving
                                from product-led to experience-led businesses.”
                                Behavioral analysis can be applied across social channels to capitalize on micro-moments to
                                delight customers and increase loyalty and lifetime value.
                                Branding - Social media may be the world’s largest focus group.
                                Natural language processing and sentiment analysis can continually
                                monitor positive or negative expectations to maintain brand health,
                                refine positioning and develop new brand attributes.</li><br>
                            <li> <strong> Competitive Analysis - </strong>Understanding what competitors are doing and how customers
                                are responding is always critical. For example, a competitor may indicate that they are foregoing
                                a niche market, creating an opportunity. Or a spike in positive mentions
                                for a new product can alert organizations to market disruptors.</li><br>
                            <li> <strong> Operational efficiency – </strong>Deep analysis of social media can help
                                organizations improve how they gauge demand. Retailers and others can use that information
                                to manage inventory and suppliers,
                                reduce costs and optimize resources.</li><br>



                    </div>
                </div>
            </div>
        </div>


        <div class="card">
                <div class="card-header" id="headingThree">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Key capabilities of effective social media analytics
                        </button>
                    </h5>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="guide">

                            <p> The first step for effective social media analytics is developing a goal.
                                Goals can range from increasing revenue to pinpointing service issues. From there,
                                topics or keywords can be selected and parameters such as date range can be set.
                                Sources also need to be specified — responses to YouTube videos, Facebook conversations, Twitter arguments, Amazon product reviews, comments from news sites. It is important to select
                                sources pertinent to a given product, service or brand.</p><br>
                            <p> Typically, a data set will be established to support the goals, topics,
                                parameters and sources. Data is retrieved, analyzed and reported through
                                visualizations that make it easier to understand and manipulate.</p><br>
                            <p> These steps are typical of a general social media analytics approach that can be made
                                more effective by capabilities found in social media analytics platforms.</p><br>
                            <li> <strong>Natural language processing and machine learning technologies </strong>identify
                                entities and relationships in unstructured data — information not pre-formatted to work with data analytics.
                                Virtually all social media content is unstructured.
                                These technologies are critical to deriving meaningful insights.</li><br>
                            <li> <strong>Segmentation </strong>is a fundamental need in social media analytics.
                                It categorizes social media participants by geography, age, gender, marital status,
                                parental status and other demographics. It can help identify influencers in those categories.
                                Messages, initiatives and responses can be better
                                tuned and targeted by understanding who is interacting on key topics.</li><br>
                            <li> <strong>Behavior analysis </strong>is used to understand the concerns of social media participants by assigning behavioral types such as user, recommender, prospective user and detractor. Understanding these roles helps develop targeted messages and responses to meet, change or deflect their perceptions.</li><br>
                            <li> <strong>Sentiment analysis </strong>measures the tone and intent of social media comments. It typically involves natural language processing technologies to help understand entities and relationships to reveal positive, negative, neutral or ambivalent attributes.</li><br>
                            <li> <strong>Share of voice  </strong> analyzes prevalence and intensity in conversations regarding brand, products, services, reputation and more. It helps determine key issues and important topics. It also helps classify discussions as positive, negative, neutral or ambivalent.</li><br>
                            <li> <strong>Clustering analysis </strong>an uncover hidden conversations and unexpected insights. It makes associations between keywords or phrases that appear together frequently and derives new topics, issues and opportunities. The people that make baking soda, for example, discovered new uses and opportunities using clustering analysis.</li><br>
                            <li> <strong>Dashboards and visualization </strong>charts, graphs, tables and other presentation tools summarize and share social media analytics findings — a critical capability for communicating and acting on what has been learned. They also enable users to grasp meaning and insights more quickly and look deeper into specific findings without advanced technical skills.</li><br>







                    </div>
                </div>
            </div>
        </div>


{% endblock %}