{% extends "base.html" %}
{% block title %}Useful Resources{% endblock%}

{% block content %}

<h1>Useful Resources</h1>

<hr>

<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="pills-python-tab" data-toggle="pill" href="#pills-python" role="tab"
           aria-controls="pills-python" aria-selected="true">Python</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" id="pills-d3-tab" data-toggle="pill" href="#pills-d3" role="tab"
           aria-controls="pills-d3" aria-selected="false">D3.js</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" id="pills-mongo-tab" data-toggle="pill" href="#pills-mongo" role="tab"
           aria-controls="pills-mongo" aria-selected="false">MongoDB</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" id="pills-opensource-data-tab" data-toggle="pill" href="#pills-opensource-data" role="tab"
           aria-controls="pills-opensource-data" aria-selected="false">Open Source Data</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" id="pills-projects-tab" data-toggle="pill" href="#pills-projects" role="tab"
           aria-controls="pills-projects" aria-selected="false">Data Analysis Projects</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" id="pills-other-tab" data-toggle="pill" href="#pills-other" role="tab"
           aria-controls="pills-other" aria-selected="false">Other</a>
    </li>
</ul>

<hr/>

<div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-python" role="tabpanel" aria-labelledby="pills-python-tab">
        <div class="accordion" id="accordionGuide-python">
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Multiple Linear Regression | Machine Learning with Python Tutorials
                        </button>
                    </h5>
                </div>

                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionGuide-python">
                    <div class="card-body">
                        <div class="description">
                            <a target="_blank" href="https://www.youtube.com/watch?v=EBb6XiQF-5c">Part 1</a> |
                            <a target="_blank" href="https://www.youtube.com/watch?v=BETGdxOA1ss">Part 2</a>
                            <p><strong>Description</strong><br></p>
                            <p>A two-part series video tutorial that covers implementing linear regression and machine learning in Python</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="headingThree">
                    <h5 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            OpenCV Using Python
                        </button>
                    </h5>
                </div>

                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionGuide-python">
                    <div class="card-body">
                        <div class="description">
                            <a target="_blank" href="https://www.youtube.com/watch?v=WQeoO7MI0Bs">Link</a>
                            <p><strong>Description</strong><br></p>
                            <p>A 3hr tutorial on using OpenCV library in Python to customize your e-resume</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="headingFour">
                    <h5 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            Downloading From CSV Using Python
                        </button>
                    </h5>
                </div>

                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionGuide-python">
                    <div class="card-body">
                        <div class="description">
                            <a target="_blank" href="https://www.kite.com/python/answers/how-to-download-a-csv-file-from-a-url-in-python">Link</a>
                            <p><strong>Description</strong><br></p>
                            <p>Covers the steps to download a CSV file from a URL using a GET request.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="headingSix">
                    <h5 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                            Hashing Algorithms in Python
                        </button>
                    </h5>
                </div>

                <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionGuide-python">
                    <div class="card-body">
                        <div class="description">
                            <a target="_blank" href="https://docs.python.org/3/library/hashlib.html">Link</a>
                            <p><strong>Description</strong><br></p>
                            <p>Covers supported hash algorithms used in Python, as well as useful properties, constants, and functions.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="headingFifteen">
                    <h5 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseFifteen" aria-expanded="false" aria-controls="collapseFifteen">
                            Statistics in Python
                        </button>
                    </h5>
                </div>

                <div id="collapseFifteen" class="collapse" aria-labelledby="headingFifteen" data-parent="#accordionGuide-python">
                    <div class="card-body">
                        <div class="description">
                            <a target="_blank" href="https://scipy-lectures.org/packages/statistics/index.html">Link</a>
                            <p><strong>Description</strong><br></p>
                            <p>TODO</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="headingSeventeen">
                    <h5 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseSeventeen" aria-expanded="false" aria-controls="collapseSeventeen">
                            Importing Data in Python
                        </button>
                    </h5>
                </div>

                <div id="collapseSeventeen" class="collapse" aria-labelledby="headingSeventeen" data-parent="#accordionGuide-python">
                    <div class="card-body">
                        <div class="description">
                            <a target="_blank" href="https://www.listendata.com/2017/02/import-data-in-python.html">Link</a>
                            <p><strong>Description</strong><br></p>
                            <p>Covers the basic steps of how to import data in Python in formats such as:<br></p>
                            <ul>
                                <li>CSV</li>
                                <li>TXT</li>
                                <li>XLS/XLSX</li>
                                <li>sas7bdat (SAS)</li>
                                <li>Stata</li>
                                <li>Rdata (R)</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="headingTwentyTwo">
                    <h5 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseTwentyTwo" aria-expanded="false" aria-controls="collapseTwentyTwo">
                            Geeks For Geeks - Python for Data Science
                        </button>
                    </h5>
                </div>

                <div id="collapseTwentyTwo" class="collapse" aria-labelledby="headingTwentyTwo" data-parent="#accordionGuide-python">
                    <div class="card-body">
                        <div class="description">
                            <a target="_blank" href="https://www.geeksforgeeks.org/python-for-data-science/">Link</a>
                            <p><strong>Description</strong><br></p>
                            <p>Covers why Python is so widely used in Data Science, as well as commonly used Python libraries used in Python in data science such as:<br></p>
                            <ul>
                                <li>Numpy</li>
                                <li>Pandas</li>
                                <li>Matplotlib</li>
                                <li>Sklearn</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="tab-pane fade" id="pills-d3" role="tabpanel" aria-labelledby="pills-d3-tab">
        <div class="accordion" id="accordionGuide-d3">
            <div class="card">
              <div class="card-header" id="headingNineteen">
                  <h5 class="mb-0">
                      <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseNineteen" aria-expanded="false" aria-controls="collapseNineteen">
                          D3 JS - Build Data Driven Visualizations with JavaScript
                      </button>
                  </h5>
              </div>

              <div id="collapseNineteen" class="collapse" aria-labelledby="headingNineteen" data-parent="#accordionGuide-d3">
                  <div class="card-body">
                      <div class="description">
                          <a target="_blank" href="https://www.youtube.com/watch?v=nzshmMlOuwI">Link</a>
                          <p><strong>Description</strong><br></p>
                          <p>A video tutorial on using D3.js to create data-driven visualizations.</p>
                      </div>
                  </div>
              </div>
          </div>

            <div class="card">
                <div class="card-header" id="headingTwenty">
                    <h5 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseTwenty" aria-expanded="false" aria-controls="collapseTwenty">
                            Introduction to D3.js with Shirley Wu
                        </button>
                    </h5>
                </div>

                <div id="collapseTwenty" class="collapse" aria-labelledby="headingTwenty" data-parent="#accordionGuide-d3">
                    <div class="card-body">
                        <div class="description">
                            <a target="_blank" href="https://www.youtube.com/watch?v=rQroxWLZiCo">Link</a>
                            <p><strong>Description</strong><br></p>
                            <p>Another tutorial on using D3.js libraries.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
              <div class="card-header" id="headingTwentyOne">
                  <h5 class="mb-0">
                      <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseTwentyOne" aria-expanded="false" aria-controls="collapseTwentyOne">
                          How to Learn D3.js
                      </button>
                  </h5>
              </div>

              <div id="collapseTwentyOne" class="collapse" aria-labelledby="headingTwentyOne" data-parent="#accordionGuide-d3">
                  <div class="card-body">
                      <div class="description">
                          <a target="_blank" href="https://wattenberger.com/blog/d3">Link</a>
                          <p><strong>Description</strong><br></p>
                          <p>An open source data visualization tool used to providing a missing link between spreadsheet applications and vector graphics editors.</p>
                      </div>
                  </div>
              </div>
          </div>

            <div class="card">
              <div class="card-header" id="headingTwentyThree">
                  <h5 class="mb-0">
                      <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseTwentyThree" aria-expanded="false" aria-controls="collapseTwentyThree">
                          D3.js - A Practical Introduction
                      </button>
                  </h5>
              </div>

              <div id="collapseTwentyThree" class="collapse" aria-labelledby="headingTwentyThree" data-parent="#accordionGuide-d3">
                  <div class="card-body">
                      <div class="description">
                          <a target="_blank" href="https://www.youtube.com/watch?v=TOJ9yjvlapY">Link</a>
                          <p><strong>Description</strong><br></p>
                          <p>Another tutorial video on using D3.js libraries.</p>
                      </div>
                  </div>
              </div>
          </div>

        </div>
    </div>

    <div class="tab-pane fade" id="pills-mongo" role="tabpanel" aria-labelledby="pills-mongo-tab">
        <div class="accordion" id="accordionGuide-mongo">
            <div class="card">
                <div class="card-header" id="headingEighteen">
                    <h5 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseEighteen" aria-expanded="false" aria-controls="collapseEighteen">
                            MongoDB and Data Streaming: Implementing a MongoDB Kafka Consumer
                        </button>
                    </h5>
                </div>

                <div id="collapseEighteen" class="collapse" aria-labelledby="headingEighteen" data-parent="#accordionGuide-mongo">
                    <div class="card-body">
                        <div class="description">
                            <a target="_blank" href="https://dzone.com/articles/mongodb-amp-data-streaming-implementing-a-mongodb">Link</a>
                            <p><strong>Description</strong><br></p>
                            <p>This article introduces Apache Kafka and then illustrates how to use MongoDB as a source and a destination for streamed data.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="tab-pane fade" id="pills-opensource-data" role="tabpanel" aria-labelledby="pills-opensource-data-tab">
        <div class="accordion" id="accordionGuide-opensource-data">
            <div class="card">
                <div class="card-header" id="headingEleven">
                    <h5 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
                            Stats Can - Open Source Data
                        </button>
                    </h5>
                </div>

                <div id="collapseEleven" class="collapse" aria-labelledby="headingEleven" data-parent="#accordionGuide-opensource-data">
                    <div class="card-body">
                        <div class="description">
                            <a target="_blank" href="https://www150.statcan.gc.ca/n1/en/type/data?subject_levels=33&geoname=A0000">Link</a>
                            <p><strong>Description</strong><br></p>
                            <p>A open-source data repository for Stats Can which visitors can view and download data.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
              <div class="card-header" id="headingTwelve">
                  <h5 class="mb-0">
                      <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseTwelve" aria-expanded="false" aria-controls="collapseTwelve">
                          Stats Can - 2016 Census Data
                      </button>
                  </h5>
              </div>

              <div id="collapseTwelve" class="collapse" aria-labelledby="headingTwelve" data-parent="#accordionGuide-opensource-data">
                  <div class="card-body">
                      <div class="description">
                          <a target="_blank" href="https://www12.statcan.gc.ca/census-recensement/2016/dp-pd/prof/details/download-telecharger/comp/page_dl-tc.cfm?Lang=E">Link</a>
                          <p><strong>Description</strong><br></p>
                          <p>A open-source data repository for Stats Can which visitors can view and download data pertaining to the Canadian 2016 census.</p>
                      </div>
                  </div>
              </div>
          </div>

            <div class="card">
              <div class="card-header" id="headingFourteen">
                  <h5 class="mb-0">
                      <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseFourteen" aria-expanded="false" aria-controls="collapseFourteen">
                          Stats Can - Open Source Data
                      </button>
                  </h5>
              </div>

              <div id="collapseFourteen" class="collapse" aria-labelledby="headingFourteen" data-parent="#accordionGuide-opensource-data">
                  <div class="card-body">
                      <div class="description">
                          <a target="_blank" href="https://www12.statcan.gc.ca/census-recensement/2016/dp-pd/prof/details/download-telecharger/comp/page_dl-tc.cfm?Lang=E">Link</a>
                          <p><strong>Description</strong><br></p>
                          <p>A open-source data repository for Stats Can which visitors can view and download data pertaining to the Canadian 2016 census.</p>
                      </div>
                  </div>
              </div>
          </div>
        </div>
    </div>

    <div class="tab-pane fade" id="pills-projects" role="tabpanel" aria-labelledby="pills-projects-tab">
        <div class="accordion" id="accordionGuide-projects">
            <div class="card">
                <div class="card-header" id="headingFive">
                    <h5 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                            PyCon - Finding a Home in Singapore Using a Data Driven Approach
                        </button>
                    </h5>
                </div>

                <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionGuide-projects">
                    <div class="card-body">
                        <div class="description">
                            <a target="_blank" href="https://www.youtube.com/watch?v=PInO2Cluu2E">Link</a>
                            <p><strong>Description</strong><br></p>
                            <p>A video from PyConSG 2016 about a woman who utilized Folium, Python, and open-source data to find the ideal home location in Singapore.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="headingThirteen">
                    <h5 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseThirteen" aria-expanded="false" aria-controls="collapseThirteen">
                            Python Project – COVID-19 Spread Analysis with Flask
                        </button>
                    </h5>
                </div>

                <div id="collapseThirteen" class="collapse" aria-labelledby="headingThirteen" data-parent="#accordionGuide-projects">
                    <div class="card-body">
                        <div class="description">
                            <a target="_blank" href="https://data-flair.training/blogs/covid-19-spread-analysis-python/">Link</a>
                            <p><strong>Description</strong><br></p>
                            <p>A Python project where the developer covers the implementation of an interactive Covid-19 dashboard (made with d3.js) which covers the international spread of the virus.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="headingTwentySeven">
                    <h5 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseTwentySeven" aria-expanded="false" aria-controls="collapseTwentySeven">
                            Understanding Our Progress Against Covid-19
                        </button>
                    </h5>
                </div>

                <div id="collapseTwentySeven" class="collapse" aria-labelledby="headingTwentySeven" data-parent="#accordionGuide-projects">
                    <div class="card-body">
                        <div class="description">
                            <a target="_blank" href="https://www.microsoft.com/en-us/ai/ai-for-health-covid-data">Link</a>
                            <p><strong>Description</strong><br></p>
                            <p>A website that displays interactive visualizations of data on Rt, testing rates, spread analysis, and risk levels of Covid-19 on an international scale.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="tab-pane fade" id="pills-other" role="tabpanel" aria-labelledby="pills-other-tab">
        <div class="accordion" id="accordionGuide-other">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Data Analysis Techniques
                        </button>
                    </h5>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionGuide-other">
                    <div class="card-body">
                        <div class="description">
                            <a target="_blank" href="https://careerfoundry.com/en/blog/data-analytics/data-analysis-techniques/">Link</a>
                            <p>Covers the differences between qualitative and quantitative data, and covers the 7 most useful data analysis techniques, including:<br/></p>
                            <ul>
                                <li>Regression analysis</li>
                                <li>Monte Carlo simulation</li>
                                <li>Factor analysis</li>
                                <li>Cohort analysis</li>
                                <li>Cluster analysis</li>
                                <li>Time series analysis</li>
                                <li>Sentiment analysis</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="headingSeven">
                    <h5 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                            Matomo
                        </button>
                    </h5>
                </div>

                <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordionGuide-other">
                    <div class="card-body">
                        <div class="description">
                            <a target="_blank" href="https://matomo.org/">Link</a>
                            <p><strong>Description</strong><br></p>
                            <p>An open source data-analysis tool</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="headingEight">
                    <h5 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                            DashThis
                        </button>
                    </h5>
                </div>

                <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordionGuide-other">
                    <div class="card-body">
                        <div class="description">
                            <a target="_blank" href="https://dashthis.com/">Link</a>
                            <p><strong>Description</strong><br></p>
                            <p>An automated client marketing tool which sports features such as an interactive dashboard and report generation support.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="headingNine">
                    <h5 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                            Capture & Analysis of Active Reading Behaviors for Interactive Articles on the Web
                        </button>
                    </h5>
                </div>

                <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#accordionGuide-other">
                    <div class="card-body">
                        <div class="description">
                            <a target="_blank" href="https://idl.cs.washington.edu/files/2019-IdyllAnalytics-EuroVis.pdf">Link</a>
                            <p><strong>Description</strong><br></p>
                            <p>TODO</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="headingTen">
                    <h5 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                            R Programming Tutorial - Learn the Basics of Statistical Computing
                        </button>
                    </h5>
                </div>

                <div id="collapseTen" class="collapse" aria-labelledby="headingTen" data-parent="#accordionGuide-other">
                    <div class="card-body">
                        <div class="description">
                            <a target="_blank" href="https://www.youtube.com/watch?v=_V8eKsto3Ug">Link</a>
                            <p><strong>Description</strong><br></p>
                            <p>A video tutorial on programming wth R language with an emphasis on statistical computing.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="headingTwentyFour">
                    <h5 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseTwentyFour" aria-expanded="false" aria-controls="collapseTwentyFour">
                            Zenserp - Google Search API: Fast Search Result Scraping
                        </button>
                    </h5>
                </div>

                <div id="collapseTwentyFour" class="collapse" aria-labelledby="headingTwentyFour" data-parent="#accordionGuide-other">
                    <div class="card-body">
                        <div class="description">
                            <a target="_blank" href="https://zenserp.com/">Link</a>
                            <p><strong>Description</strong><br></p>
                            <p>TODO</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="headingTwentySix">
                    <h5 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseTwentySix" aria-expanded="false" aria-controls="collapseTwentySix">
                            RawGraphs
                        </button>
                    </h5>
                </div>

                <div id="collapseTwentySix" class="collapse" aria-labelledby="headingTwentySix" data-parent="#accordionGuide-other">
                    <div class="card-body">
                        <div class="description">
                            <a target="_blank" href="https://rawgraphs.io">Link</a>
                            <p><strong>Description</strong><br></p>
                            <p>An open source data visualization tool used to providing a missing link between spreadsheet applications and vector graphics editors.</p>
                        </div>
                    </div>
                </div>
            </div>


            <div class="card">
                <div class="card-header" id="headingThirtyOne">
                    <h5 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseThirtyOne" aria-expanded="false" aria-controls="collapseThirtyOne">
                            Statistical Methods
                        </button>
                    </h5>
                </div>

                <div id="collapseThirtyOne" class="collapse" aria-labelledby="headingThirtyOne" data-parent="#accordionGuide-other">
                    <div class="card-body">
                        <div class="description">
                            <a target="_blank" href="/templates/resources/local/statistical_methods_1.pdf">Link</a>
                            <p><strong>Description</strong><br></p>
                            <p>A powerpoint slide covering commonly used Statistical methods in data science</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}