{% extends "base.html" %}
{% block title %}Upload Successful{% endblock%}

{% block content %}
<script src="/static/lib/js/jquery.min.js"></script>
<head>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
</head>
<div class="loader-wrapper">
    <span class="loader"><span class="loader-inner"></span></span>
  </div>
  <script>
    $(document).ready(function($){
      $(".loader-wrapper").fadeOut(1500);
    });
  </script>
<h1>SUCCESS!</h1>
<h2>The file: {{collection_name}} was uploaded successfully.</h2>
<hr/>

{% for table in tables %}
{{ table|safe }}
{% endfor %}

<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
<div>
    <div id="scatterplot">
    </div><br>
    <style>
        .bubbles {
          stroke-width: 2px;
          stroke: white;
        }
        .bubbles:hover {
          stroke: black;
        }
    </style><br>
    <div id="barchart">
    </div>
  </div>
  <script src="/static/js/manualScatterPlot.js"></script>
  <script src="/static/js/barchart.js"></script>
  <head>
      <h2>Redraw Visualizations</h2>
    <form action="/get_chart_variables" method="post">
      <table>
        <th>
          <label for="x">Choose X variable:</label>
          <select name="x" id="x"></select>
        </th>
        <th>
          <label for="y">Choose Y variable:</label>
          <select name="y" id="y"></select>
        </th>
        <th>
          <label for="z">Choose Z variable:</label>
          <select name="z" id="z"></select>
        </th>
      </table>
      <input type="submit" value="Create Visualizations">
    </form>
    <script type="text/javascript">
      var page_url = document.location.href;
      var url = new URL(page_url);
      var measures = url.searchParams.get("measures");
      const array = measures.split(",");
      var xoptions = "";
      var yoptions = "";
      var zoptions = "";
      for(i = 0; i < array.length; i++) {
        xoptions += "<option value='" + array[i] + "'>" + array[i] + "</option>";
      }
      document.getElementById('x').innerHTML = xoptions;
      for(i = 0; i < array.length; i++) {
        yoptions += "<option value='" + array[i] + "'>" + array[i] + "</option>";
      }
      document.getElementById('y').innerHTML = xoptions;
      for(i = 0; i < array.length; i++) {
        zoptions += "<option value='" + array[i] + "'>" + array[i] + "</option>";
      }
      document.getElementById('z').innerHTML = xoptions;
    </script><br><br><br>
    <iframe src="{{url_for('pandas_generated_report', filename=collection_name)}}" title="Pandas Profiling Report" style="width:1510px;height:600px"></iframe><br>
    <img src="{{url_for('static', filename=collection_name + '.png')}}" alt="ScatterPlot" style="border: 5px solid black">
  </head>
  <br><br><br>
</div>


{% endblock %}